[2017-03-27 09:50] chandu0101 opened #8 "how can i disable logging ?"
in prod mode if i want to turn off logging , what needs to be done ?

[2017-03-27 13:59] darkfrog26 commented on #8
Presuming you want to turn off absolutely all logging:

`Logger.root.clearHandlers()`

If you want to just change the logging level to only log errors you can just define your log handler to do such:

`Logger.root.addHandler(LogHandler(level = Level.Error))`

If there's some other specific scenario you'd like to handle that's not covered let me know.

[2017-03-27 23:38] chandu0101 commented on #8
`Logger.root.clearHandlers()` is what i want :) ,  thanks for reply.

[2017-03-27 23:50] chandu0101 commented on #8
@darkfrog26

I have one more question , with this logic i still pay a method call at runtime(an unit() call!) , probably i'll go with `if(scalajs.LinkingInfo.developmentMode) scribe.info(..)`

[2017-03-28 00:13] darkfrog26 commented on #8
Yes, there is a very small cost as opposed to other frameworks that compile it out entirely. However, the cost is so small I never expected it was a price not worth paying for the ability to enable debug logging in production without a recompile and restart.

[2017-03-28 00:14] darkfrog26 commented on #8
I'd be curious if you benchmark the cost at anything higher than nanoseconds.

[2017-03-28 00:18] chandu0101 commented on #8
agree, but with `scalajs.LinkingInfo.developmentMode` which contant-fold the tree , output file will be smaller!, and its good to eliminate overhead if its possible :)

[2017-03-28 00:28] darkfrog26 commented on #8
However, unless I'm misunderstanding you, would require re-compiling to re-enable logging whereas the current architecture allows you to enable and disable logging in production on-demand.

[2017-03-28 02:03] chandu0101 commented on #8
in scala.js - sbt ~fastOptJS => LinkingInfo.developmentMode = true  LinkingInfo.productionMode = false
sbt ~fullOptJS => LinkingInfo.developmentMode = false LinkingInfo.productionMode = true

[2017-03-28 02:40] chandu0101 commented on #8
https://github.com/jokade/slogging#disable-logging-at-compile-time

[2017-03-28 02:59] darkfrog26 commented on #8
I think you misunderstand.  For example, in one of my client's production web applications, I have an admin interface that allows me to enable or disable debug logging while the application continues to run.  This comes in handy when I'm experiencing a production issue and am having difficulties reproducing it in dev.  I can enable debug or trace logging while I re-create the scenario or while som

[2017-03-28 03:29] chandu0101 commented on #8
thats what i thought :(

you mean ,using some properties on server ? or ..

[2017-03-28 03:36] darkfrog26 commented on #8
No, the admin interface gives me the capacity to interact graphically with the configuration in real-time so I can make changes to the running application.  In fact, I'm currently building another system based on the same concept for more generic usage (still very early development): https://github.com/outr/uberterm

[2017-03-28 03:39] chandu0101 commented on #8
oh ok , thanks for info , in my case its a mobile app . I'll vote ` introducing the capacity to exclude logging calls during compilation for those that may want that` 👍

[2017-03-28 03:42] darkfrog26 commented on #8
I'm fine with it if you'd like to introduce a PR for it.  However, I think the debate is like complaining that your new 8tb hard drive is 5mb smaller than you expected.  It's just such a small amount it really doesn't matter. :)

[2017-03-28 03:43] chandu0101 commented on #8
haha cool ok :)

[2017-03-28 03:43] #8 closed

[2017-03-29 15:21] darkfrog26 opened #9 "Add Better Date Formatting Consistency"
In the Scala.js logging, the month and day will show only a single digit if the value is below 10 while in the JVM it will always format to two digits.  Though a minor issue, they should be consistent.

[2017-03-29 15:23] darkfrog26 opened #10 "Better Support for Modifying Loggers"
Currently `Logger.update` is used to modify an existing logger. This is a bit confusing and frustrating to use. A better and less side-effect implementation would be ideal.

[2017-07-24 16:28] #9 closed

[2017-08-05 16:51] darkfrog26 opened #11 "StaticMDCBinder Warning"
`SLF4J: Failed to load class "org.slf4j.impl.StaticMDCBinder". SLF4J: Defaulting to no-operation MDCAdapter implementation. SLF4J: See http://www.slf4j.org/codes.html#no_static_mdc_binder for further details.`

See: https://github.com/qos-ch/slf4j/blob/master/slf4j-nop/src/main/java/org/slf4j/nop/NOPMDCAdapter.java

[2017-08-05 21:02] KyleU opened #12 "NPE on logger name from SLF4J via Netty."
First off, thanks again for this library, it's been tremendous, filling a gap in Scala.js.

I've been able to get everything working, but when I reference postgres-async, which is built on netty, I get the following stack trace:

[code]

You can clone the `scribe` branch from https://github.com/KyleU/boilerplay/tree/scribe to test this. As is, the application runs fine, but uncommenting `Database.

[2017-08-07 01:42] darkfrog26 commented on #12
I'm looking into this, but what I don't see is any reference to Scribe here.  If you remove the Scribe dependency does the error go away?

[2017-08-07 01:53] darkfrog26 commented on #12
Looks like `InternalLoggerFactory:90` is the culprit.  Oddly, it would seem when it calls `clazz.getName()` on whatever class it is, it returns `null`.

[2017-08-08 17:16] darkfrog26 commented on #12
@KyleU any chance you can create a more concise example representing this issue?

[2017-08-16 20:46] KyleU commented on #12
Sorry for the delay, thought I'd replied. I went ahead and used Scribe for all my Scala.js logging, and am keeping logback for the server. Thanks for looking at this.

[2017-08-16 20:46] #12 closed

[2017-08-17 01:13] darkfrog26 commented on #12
If you're willing, I'd still like your help resolving this so Scribe can be useful on the JVM? ;)

[2017-08-17 03:10] KyleU commented on #12
Ok, it looks like the problem was netty, as you suspected. upgrading the netty version fixed the issue, I guess I just didn't run into it before attempting to integrate Scribe. Sorry for the bogus report, thanks for working on it -  I love the library, by the way.

[2017-08-17 03:18] KyleU opened #13 "Ansi color support"
Helper methods to decorate loggers with terminal colors. Currently works with `logger.string("\e...")`, but it's a hassle.

https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

[2017-08-17 03:58] darkfrog26 commented on #12
Great, I'm glad you were able to get it figured out.  Feel free to let me know if you have any feature requests or suggestions.

[2017-08-17 19:48] darkfrog26 commented on #13
That's a good idea.  Would you be interested in writing them? :)

[2017-08-17 19:58] darkfrog26 commented on #13
Have you considered just using http://www.scala-lang.org/api/2.12.x/scala/io/AnsiColor$.html ?

[2017-08-17 20:18] KyleU commented on #13
Wow, that would have saved me an hour... Easy enough, thanks for the find!

[2017-08-17 20:18] #13 closed

[2017-08-17 20:20] darkfrog26 commented on #13
No worries. Glad I could help. :)

[2017-10-19 11:12] Tamriel opened #15 "Set log level globally"
`Logger.root.addHandler(LogHandler(level = Level.Error))` does not show an effect

[2017-10-19 11:13] Tamriel opened #16 "Config how the log looks like"
e.g. don't show the date

[2017-10-19 14:32] darkfrog26 commented on #15
The effect would be a duplicate logging of errors to the console.  What are you trying to accomplish?

[2017-10-19 14:36] darkfrog26 commented on #16
You can configure this via `Formatter` when adding a `LogHandler`.  `Formatter` companion has three pre-defined scenarios (`simple`, `default`, and `trace`).  Building your own `Formatter` instance is quite easy with `FormatterBuilder`:

`FormatterBuilder()..string("[").threadName.string("] ").levelPaddedRight(" ").positionAbbreviated.string(" - ").message.newLine` would identical to default forma

[2017-10-19 14:44] Tamriel commented on #15
I want to change the global log level.

[2017-10-19 14:46] darkfrog26 commented on #15
Try:

[code]

[2017-10-19 14:46] Tamriel commented on #16
Great :-)
It would be nice to have this in the README file.

[2017-10-19 14:47] darkfrog26 commented on #16
I'm slammed at the moment, would you mind adding a PR?

[2017-10-22 04:16] darkfrog26 commented on #15
@Tamriel Can you close this if it fixed your problem?

[2017-11-12 20:56] #15 closed

[2017-11-12 21:05] #16 closed

[2017-11-29 23:10] shawjef3 opened #21 "Asynchronous logging for JVM"
My understanding is that Javascript is always single threaded, so I am unsure if this only applies to the JVM implementation or not.

Logging frameworks such as Log4j use asynchronous logging. This has the benefits of

- exceptions while logging happen in another thread, not your own
- CPU time used for logging does not delay your thread (if a hardware thread is available)

I have a benchmark show

[2017-11-30 03:34] shawjef3 commented on #21
Some relevant reading: https://logging.apache.org/log4j/2.x/manual/async.html

[2017-11-30 13:19] darkfrog26 commented on #21
You should really add a validation mechanism to confirm that the logging actually completes.  Otherwise, it's not a fair benchmark.  For example, log4j can say it cranked through 1,000 log events, but it may have only completed a handful if it's running asynchronously.  I know this is probably your point, but it would be a worthwhile data point to show time to actual completion in contrast to the

[2017-11-30 14:22] darkfrog26 commented on #21
I'm not opposed to adding support for this.  In fact, in an earlier iteration, I did have support, but it was causing some problems with records not being guaranteed to be written before the application terminated.  As a result, I opted to make everything synchronous as the performance was still incredibly good.

[2017-11-30 14:39] darkfrog26 commented on #21
If you'd like to discuss more directly, please join the Gitter channel: https://gitter.im/outr/scribe

[2017-12-01 00:42] shawjef3 commented on #21
I think the trick to making sure all messages make it out on shutdown is to use `Runtime#addShutdownHook`.

[2017-12-01 13:13] darkfrog26 commented on #21
We can do that, but it's not reliably invoked so there will always be the risk of some logs not being written.

[2017-12-01 13:14] darkfrog26 commented on #21
I don't have a problem with this as long as synchronous is default operation.

[2017-12-09 01:00] shawjef3 commented on #21
Please take a look at https://github.com/shawjef3/scribe/blob/asynchronous/jvm/src/main/scala/scribe/Main.scala. I think you will be pleased with how it behaves. I added a `flush()` method in case you wanted to really be careful.

[2017-12-09 01:10] shawjef3 commented on #21
[code]

[2017-12-09 01:32] darkfrog26 commented on #21
@shawjef3 I could be convinced of this route, but if I'm going to be convinced, we at least have to be able to out-perform log4j. :-p

[2017-12-09 02:46] shawjef3 commented on #21
Log4j is very well optimized. Maybe you are thinking of Log4j version 1? See https://logging.apache.org/log4j/2.x/performance.html

[2017-12-09 02:54] darkfrog26 commented on #21
I can't have Scribe running slower.  I think I'll have to spend a bit of time performance tuning.  You're welcome to submit a PR for this, but I imagine I'll be doing a fairly large re-write in the not too distant future.

[2017-12-18 14:50] darkfrog26 opened #22 "Filter / Disable Support for LoggerAdapter"
The `ScribeLoggerAdapter` works well for intercepting SLF4J log events, but some applications are incredibly chatty. It would be beneficial to support better filtering.

[2017-12-18 19:00] darkfrog26 opened #23 "Lighter Logger"
We should support a `Logger` simple trait and a `LoggerSettings` coupled to the same `name` space to support configuration (parent, handlers, levels, filters, etc.).

[2017-12-18 19:01] darkfrog26 opened #24 "Faster than Log4j"
Currently, because of all the asynchronous magic log4j does, it's faster than Scribe. This should be dealt with. There's no reason Scribe shouldn't be faster than *any* Java solution.

[2018-01-20 12:53] cornerman opened #27 "Misleading memory consumption bar chart"
The readme shows a bar chart comparing memory consumption of `scribe` and `scala logging`. As the y-axis is cut off at some arbitrary value (590... which unit btw?),i it makes the difference seem enormous while in reality it is much smaller.

I really like this library and the performance information provided is nice, but I think we should show the data in an honest way. When recommending the libr

[2018-01-20 14:39] darkfrog26 commented on #27
I don't disagree with you, but there wasn't any malicious intention behind it.  I simply plugged the values into a chart generator and that's how it represented the values.  If you'd like to provide alternative graphs I'd happily replace them.  I believe it was https://www.onlinecharttool.com/ that I used.

[2018-01-30 02:32] darkfrog26 commented on #27
![chart](https://user-images.githubusercontent.com/877534/35545170-659b09b0-0533-11e8-9b61-21415319c5c1.png)

Is this a more representative image?  I'm going to be releasing Scribe 2.0 this week and want to make sure the visualizations (coming from JMH) don't come across as misleading.

[2018-01-30 02:34] #24 closed

[2018-01-30 02:34] darkfrog26 commented on #23
This has been completely reworked in 2.0

[2018-01-30 02:34] #23 closed

[2018-01-30 02:37] darkfrog26 commented on #21
I've been working on this with regard to Scribe 2.0 which is almost ready to be released:

[code]

BTW, I built the system based on your original benchmarks, but the reason that log4j in your benchmark was so fast was because it was immediately escaping after a "should log" for "info" returns false.  After adding proper configuration I'm doing file logging in the three benchmarks and I'm kicking l

[2018-01-31 02:22] #21 closed

[2018-01-31 02:23] #10 closed

[2018-01-31 02:28] cornerman commented on #27
@darkfrog26 Nice! The numbers look very good, too. Did something significantly change? And where is `scibe-async` coming from? :)

[2018-01-31 02:32] darkfrog26 commented on #27
Scribe 2.0 (you can see it in the "2.0" branch) is a complete re-write of Scribe with a focus on performance.  It also adds a "scribe-extras" module for asynchronous write operations (since it adds a dependency to Akka).

[2018-01-31 03:03] darkfrog26 commented on #22
This should be complete, but testing needs to be done with chatty logging libraries like Spark to verify the convenience of this.

[2018-01-31 03:09] darkfrog26 commented on #11
I'm not sure I agree with the ideology behind MDC. Moving this out of 2.0 until a valid reason can be given to support it.

[2018-01-31 14:10] darkfrog26 opened #28 "Merge AsynchronousLogHandler back into core"
The asynchronous logging using Akka is not scaling well (ironic, I know).  This should be simplified to just using a daemon thread + ConcurrentLinkedQueue so it has no additional dependencies and can scale better.

[2018-01-31 15:04] darkfrog26 commented on #28
Tried and failed. No matter what I do I seem to be making the performance worse than synchronous, not better. Moving out of 2.0 for now.

[2018-02-06 14:54] #28 closed

[2018-02-06 14:54] darkfrog26 commented on #27
Scribe 2.0 has been released and all new charts and graphs have been created. Please confirm you agree these are in no way misleading and close this ticket.  Thanks!

[2018-02-06 14:55] #22 closed

[2018-02-06 15:13] cornerman commented on #27
Great and now I am really looking forward to trying out the new release!

Thanks for taking care of this :)

[2018-02-06 15:13] #27 closed

[2018-02-12 18:27] darkfrog26 commented on #11
There are better ways to manage this with logging. Closing ticket.

[2018-02-12 20:27] darkfrog26 opened #30 "Support Level Comparison"
Add support for code like `if (level >= Level.Info) { ... }` instead of having to write `if (level.value >= Level.Info.value)`.  As well, we should be able to say: `if (record.value >= Level.Info) { ... }` to properly handle boosted records.

[2018-02-12 21:05] darkfrog26 opened #31 "Easier Support to Update Logger"
Updating the root logger requires something like: `Logger.update(Logger.rootName)(_...)` which should be able to simplified greatly.  In addition, the `updateLogger` method is problematic.

[2018-02-14 16:10] darkfrog26 opened #32 "Better positionAbbreviated support"
The abbreviated position information is a bit too abbreviated sometimes making it very hard to determine the actual package and class names.

[2018-02-14 16:11] darkfrog26 opened #33 "overrideClassName should remove method and line numbers"
Currently, if the `overrideClassName` is defined in the `Logger`, it replaces the class name in log records, but it leaves the original method and line numbers creating massive confusion.

[2018-02-26 14:45] crimzie opened #34 "Compilation error after transition to 2.1"
[code]

Have no idea where to dig further. The same code compiled ok with 1.4.6, except that
[code]
is now
[code]

[2018-02-26 14:49] crimzie opened #35 "Configuring scribe.slf4j.ScribeLoggerAdapter"
All output from slf4j-dependent code goes through scribe with scribe-slf4j, but how does one configure the Logger? Clearing handlers on the root Logger and setting Level there seems to have no effect. ScribeLoggerAdapter logs on DEBUG level.

[2018-02-26 15:11] crimzie commented on #35
Sorry, my mistake, it does in fact obey the root Logger.

[2018-02-26 15:11] #35 closed

[2018-02-27 14:58] darkfrog26 commented on #34
I know this may seem strange, but make sure you've cleaned your compiled classes to avoid legacy Macro compiled code.  If that doesn't resolve it, please share a minimal application with me that reproduces the error and I'll dig in from there.  Also, is it possible you have pre-compiled code referring to an older version of Scribe?

[2018-02-28 10:27] crimzie commented on #34
Not strange at all. The first thing I did is made sure to clear out all compiled artifacts.

The project is closed source code, but I'll see if I can get it reproduced in a minimal application without breaching nondisclosure.

[2018-02-28 16:40] crimzie commented on #34
I went the other way around and removed scribe method calls one by one until it compiled. Here are the culprits:

`scribe.info(f"Constructing (max: ${Runtime.getRuntime.maxMemory / 1e6}%.0f, $memoryString)")`
(```def memoryString: String =
    f"total: ${Runtime.getRuntime.totalMemory/1e6}%.0f, free: ${Runtime.getRuntime.freeMemory/1e6}%.0f"```)

`_ = scribe.info(s"Public page ${page.copy(content

[2018-02-28 19:04] darkfrog26 commented on #34
Just for kicks, try replacing those interpolators with Scribe's `sfi` interpolator.

For example, for the first item it would be:
[code]

If you look at the https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/implicits/LongImplicits.scala and https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/implicits/DoubleImplicits.scala they offer a more type-

[2018-02-28 19:12] crimzie commented on #34
Thanks. Had no idea scribe has its own interpolator.

[2018-02-28 19:12] #34 closed

[2018-03-01 11:50] cornerman opened #36 "Mapping over FormatBlock"
Before release `2.0` I had my threadname truncated which would remove a prefix like `akka.actor.default-dispatcher` with something shorter. As of now, I am not sure, how I would implement something like this (except implementing my own FormatBlock):

[code]

Can we have a `def map(f: String => String): FormatBlock` method in `FormatBlock`?

[code]

[2018-03-01 13:18] cornerman opened #38 "FileWriter autoflush usage"
How is the `autoflush` property of FileWriters used? I do not see any usages in the implementations `FileIOWriter` and `FileNIOWriter`. Am I missing something or is this just not implemented yet?

[2018-03-01 14:07] darkfrog26 opened #39 "Problems with Interpolation"
With `s` and `f` interpolation in Scribe 2.1 it seems to have problems sometimes like the Macros aren't playing well together (see #34).  Though `sfi` is a better solution, we should still be able to support `s` and `f`.

[2018-03-01 14:13] #38 closed

[2018-03-01 14:14] darkfrog26 commented on #36
That's a good idea.

[2018-03-01 14:19] cornerman commented on #38
great! thank you.

[2018-03-01 14:59] #36 closed

[2018-03-01 15:03] #33 closed

[2018-03-01 16:35] #30 closed

[2018-03-01 17:38] cornerman opened #40 "Huge increase in fullOptJS file size"
With version 2.0, we see a huge increase in the js file size. Before the update to `scribe` our bundled size in fullOptJS was `1.4mb`, now with the new version of scribe it is `2.8mb`.

I suspect this is due to the usage of `scala-java-time` and `locales`. We had similar issue in our own app, which is why we have removed these two packages from our app. Now, those are pulled in by scribe. Can we m

[2018-03-01 17:41] fdietze opened #41 "Java 8 time dependency prevents scribe 2.0 usage in android"
The current android SDK is still on Java 7 and therefore doesn't provide the new Java 8 time library.

[2018-03-01 18:31] darkfrog26 commented on #40
Yeah, I fear that's probably the case.  The problem is that in 2.0 it's heavily utilized for date formatting, which is obviously a standard feature of logging.  I'd welcome a PR that removes the necessity for them or offers a more clever solution to this problem.

[2018-03-01 18:34] darkfrog26 commented on #41
Ah, that's a problem.  Looks like we need to figure out a better solution than using Java 8's time lib.  I'll think about this more, but I'm very open to suggestions. I wasn't too thrilled with the 1.x solution of using JS Date object, but with a more powerful wrapper, that might be the ideal as it doesn't require any third-party libraries.

[2018-03-01 22:12] #41 closed

[2018-03-01 22:34] darkfrog26 commented on #41
This was deployed in 2.2.0

[2018-03-01 22:34] darkfrog26 commented on #40
This was deployed and fixed in 2.2.0

[2018-03-01 22:34] darkfrog26 commented on #38
This was deployed and fixed in 2.2.0

[2018-03-01 22:34] darkfrog26 commented on #36
This was deployed and fixed in 2.2.0

[2018-03-01 22:36] cornerman commented on #40
Perfect, thanks a lot for the fast reaction!

[2018-03-01 22:44] fdietze commented on #41
Wow, that was quick. Thank you so much!

[2018-03-01 22:44] darkfrog26 commented on #41
No problem. Let me know if you run into any other problems.

[2018-03-02 20:42] ml10 commented on #31
I'm having trouble getting the exact configuration I'm looking for. I created [a scastie](https://scastie.scala-lang.org/Ditdb8qDTbeRtFgvAyhO4g) demonstrating the issue.

I would expect that both methods of configuration would result in the same logging, but grabbing the logger and running each method separately seems to have a different outcome than chaining the `clearHandlers` and `withHandler`.

[2018-03-02 22:00] ml10 commented on #31
Ah, I see my misconception with the separated calls. They return the updated `Logger` which would then need to be updated.

With that misconception out of the way, here's [a simpler scastie](https://scastie.scala-lang.org/0Em9NEwWTC2MalaIObWLug) showing the `INFO` messages being emitted twice.

[2018-03-02 22:26] darkfrog26 commented on #31
The problem is that you're adding a second `ConsoleWriter` by using `withHandler`.  There is one assigned to `root` by default and you're adding one to your class-level as well.  You have a couple options:

1.) Work with the root logger: `Logger.update(Logger.rootName)(_.clearHandlers().clearModifiers().withHandler(minimumLevel = Level.Debug))` - Notice you have to clear handlers and modifiers (si

[2018-03-05 14:13] darkfrog26 commented on #31
@ml10, is it working for you now?

[2018-03-05 17:08] ml10 commented on #31
Yeah, the `orphan` approach works. In the app, I'd rather not change the minimumLevel for the root logger, only for targeted classes.

Just to validate my understanding of how `orphan` works: When a new logger is created, it takes it's definition from it's parent logger (root by default) and then if it is ophaned, and further changes are made to the parent logger, the orphan child logger will not

[2018-03-05 17:37] darkfrog26 commented on #31
No, it's not so complicated as that. This is a simple parent-child relationship with propagation.

When a new logger is created it defines (by default) its parent as the root logger.  Any log events that occur on that logger propagate up to its parent logger.  When you `orphan()` a Logger you are setting its parent to `None` so that it no longer propagates up any higher when logging occurs on it.

[2018-03-09 15:37] cornerman opened #42 "Duplicate date value in package scribe and scribe.format"
With the new date implementation (:+1:), we have a conflicting symbol `date` in packages `scribe` and `scribe.format`.

This happens when using format and scribe import. There is the `scribe.date` package and the format value `date`:
[code]

Can we do something about this?

[2018-03-09 15:46] darkfrog26 commented on #42
Yeah, that was a refactoring oversite on my part.  Thanks for pointing it out.

[2018-03-09 16:08] #42 closed

[2018-03-09 16:09] darkfrog26 commented on #42
In a hurry for this to make it into a release?

[2018-03-09 16:22] cornerman commented on #42
Perfect, thank you for fast response. There is no hurry, so no immediate release needed :)

[2018-03-16 14:11] #39 closed

[2018-03-16 14:14] darkfrog26 commented on #31
@ml10 and @asakaev, I'd be interested in some feedback about how you'd like to see this?  I'm having trouble coming up with an ideal solution that maintains a clean interface while maximizing flexibility.

[2018-03-16 17:55] nilskp opened #44 "Exceptions are stringified too early"
`LogRecord` has no trace of exceptions, except in the message.

This makes it hard to implement handlers that are interested in exceptions only.

[2018-03-16 18:03] darkfrog26 commented on #44
A very good point. Let me think a little more about this. Have any suggested solution?

[2018-03-16 18:04] nilskp commented on #44
If I'm not mistaken, most APIs simply have an optional exception has part of the log record.

[2018-03-16 18:05] darkfrog26 commented on #44
I'm aware, but that's not incredibly flexible. I'm currently prototyping something a bit more powerful that would allow any type to be used.

[2018-03-16 18:20] darkfrog26 commented on #44
@nilskp Take a look at https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/LogRecord.scala#L8

You can access the original instance being logged (in the case of a `Throwable` you'll have a reference to the object directly).  Is that sufficient?  If this works I can add some additional functionality to easily filter and map this way.

[2018-03-16 19:44] nilskp commented on #44
@darkfrog26 Generally, it feels like a code smell to use `Any`. It seems like you're trying to cover a not yet existing use case, which could end up being a YAGNI.

Exceptions are first-class citizens when logging. It seems like they should be expressed explicitly.

More specifically, I don't think it's possible to use e.g. `.warn("Blimey!", exception)` here, at least not when using `SimpleLogReco

[2018-03-16 19:46] darkfrog26 commented on #44
In Scribe that works, but emits two LogRecords.

[2018-03-16 19:47] nilskp commented on #44
With identical content, except for String and Exception?

[2018-03-16 19:47] darkfrog26 commented on #44
I don't necessarily disagree about the use of `Any`, but I think this is one of those cases where it does make sense.  I have projects where I could see this being useful.  For example, if doing database logging I might deal with specific instances of domain-specific objects distinctly (for example if I log a `User` instance).

[2018-03-16 19:48] darkfrog26 commented on #44
See https://github.com/outr/scribe/blob/master/macros/shared/src/main/scala/scribe/Macros.scala#L78

[2018-03-16 19:50] nilskp commented on #44
Wouldn't that lead to two log statements, rather than one?

[2018-03-16 19:50] darkfrog26 commented on #44
Yes, but I generally find that a better representation anyway.

[2018-03-16 19:54] darkfrog26 commented on #44
I'm very open to considering alternatives, but thus far I've had no negative reaction to doing it that way.  Please let me know if you have a problem with this as I'd like to better understand.

[2018-03-16 19:55] nilskp commented on #44
Specifically my use case right now is sending exceptions to Sentry. Having the message separated from the exception can probably not be reconciled without issues.

Not all logging goes into a linear text file. If it's logged together, it should be encapsulated into a single conceptual record.

That's my opinion anyways. :-)

[2018-03-16 19:56] darkfrog26 commented on #44
If you really care about keeping it together, why not just wrap the exception with another exception including the message?

[2018-03-16 19:57] darkfrog26 commented on #44
So, instead of:

[code]

It would be something like:

[code]

[2018-03-16 19:59] darkfrog26 commented on #44
I understand and can appreciate your perspective, but in my use-case I'm almost always just logging the exception directly:

[code]

I let the exception explain itself.  This is why I'm trying to better understand since this doesn't fall into the norm of how I typically interact with logging.

[2018-03-16 19:59] nilskp commented on #44
But why? A log record ought to be a single record of what I've logged.

Anyways, I'm spending too much time on this already.

Scribe is not essential to what I'm doing. I would have incorporated it if it was easy, but now it's looking like too much work.

Hope you come up with a good solution.

👍

[2018-03-16 20:01] darkfrog26 commented on #44
I'd like to work with you as I believe that Scribe should be faster and more flexible than any other Scala logging libraries, so if you're willing to put in a little more effort I'm sure we can come to an ideal solution.

[2018-03-16 20:17] nilskp commented on #44
I would just say that if you want to have this adopted by more people, it probably needs to follow certain conventions and would need to fill existing use cases, such as external adapters etc.
It's a non-starter for me, and probably a lot of people, if the semantics of logging is changed, i.e. `.log(string, exception)` leads to two log records.
If I were you, I'd look into supporting at least a co

[2018-03-17 12:53] woky opened #45 "SLF4J: No SLF4J providers were found for SLF4J 1.8 beta."
SLF4J API cannot use scribe-slf4j as a backend.

https://www.slf4j.org/codes.html#noProviders
https://www.slf4j.org/faq.html#changesInVersion18

This has something to do with Jigsaw. The slf4j-simple implementation uses ServiceLoader mechanism:

https://github.com/qos-ch/slf4j/tree/master/slf4j-simple/src/main/resources/META-INF
https://github.com/qos-ch/slf4j/blob/master/slf4j-simple/src/main/jav

[2018-03-17 14:24] darkfrog26 commented on #45
Thanks. I haven't upgraded to using SLF4J 1.8 yet.  I'll read through this and get back to you.  I should be doing release 2.3.0 next week sometime and I should be able to roll this into it.

[2018-03-17 14:27] darkfrog26 commented on #44
@nilskp is this the only roadblock from you using Scribe in your project?  This isn't an unreasonable request.  I should be able to accommodate.  Let me know if there are any other issues you see.

I'm going to be doing release 2.3.0 early next week and should be able to get this into it.

[2018-03-17 14:29] darkfrog26 commented on #45
@woky I just noticed that 1.8 is still in beta.  I'm concerned about switching to depending on the beta version of SLF4J.  Is there a reason you need 1.8 in your project?

[2018-03-17 15:50] darkfrog26 commented on #44
@nilskp I've updated the system to, hopefully, accommodate all of your concerns:

1.) I've updated the system to only create one log record for message + throwable mimicking how log4j does it.
2.) I've removed `Any` from `LogRecord` and in-place have created a generic type to allow all the advantages of both retaining the original type as well as deferring stringification until actually logged. Se

[2018-03-17 15:51] darkfrog26 commented on #44
If this alleviates all your concerns please confirm and close this ticket.  Tentatively this will go out in 2.3.0 on Monday.

[2018-03-17 15:58] nilskp commented on #44
I've just started looking at this, and Sentry was the first blocker.

I won't have time to look at this until sometime next week, but I don't see why it wouldn't work.

Thanks for addressing this.

[2018-03-17 15:58] #44 closed

[2018-03-17 16:00] darkfrog26 commented on #44
@nilskp no worries man, and I appreciate the feedback.

My goal is to make the best all-around logger for Scala, so please keep the feedback coming. :)

[2018-03-17 22:13] woky commented on #45
@darkfrog26 I was just trying out this lib and put `latest.release` into version of all libs I've tried. I wanted to give you heads up with regard to the new change.

[2018-03-17 22:57] darkfrog26 commented on #45
@woky I appreciate it. I intend to switch to support this as soon as 1.8 is officially released.  It looks like it will be a less hacky solution that pre 1.8.

Are you planning on using 1.8 beta in your project?

[2018-03-17 23:05] woky commented on #45
@darkfrog26 Most probably not anytime soon.

[2018-03-17 23:08] darkfrog26 commented on #45
@woky I'll keep this open to be resolved when 1.8 is released then.  Thanks for the insights.

[2018-03-18 21:01] darkfrog26 commented on #31
I've added a new feature to `Logger` to represent a unique `id`.  This allows an immutable `Logger` to be copied while keeping the original `id` which can then be used to replace previous copies via name reference.

So, instead of:

[code]

You can write:

[code]

The new `replace` method will handle all of the complexity of finding all logger instances this should replace.

[2018-03-18 21:01] #31 closed

[2018-03-18 21:25] darkfrog26 commented on #44
This functionality was just released with 2.3.0

[2018-03-18 21:26] darkfrog26 commented on #42
This just rolled out in 2.3.0

[2018-03-23 16:47] julienledem opened #47 "confusing name"
just FYI:
https://en.wikipedia.org/wiki/Scribe_(log_server)

[2018-03-23 20:46] darkfrog26 commented on #47
hehe, do you have a better name to suggest? :)

[2018-03-23 21:57] julienledem commented on #47
Naming is hard :)
In the past I've made a spreadsheet and got contributors suggest names and vote.
That's how we picked Parquet!
You want to avoid trade marks and existing open source projects so remove those from the list before voting.
Good luck!

[2018-03-24 00:34] darkfrog26 commented on #47
There's definitely some namespace collision, but it's open-source and at such point it grows enough to be a problem we probably will come up with a new name.

[2018-03-24 13:29] #47 closed

[2018-03-24 16:15] cornerman opened #49 "Level format block without padding"
Currently we just have `levelPaddedRight`, but for me a level without padding would make more sense. Can we have one simple `level` format block?

[2018-03-24 16:49] #49 closed

[2018-03-24 16:50] darkfrog26 commented on #49
Absolutely.  Added and will go out in 2.3.1.  If you need this sooner than later please let me know and I'll prioritize a release.

[2018-03-24 16:52] cornerman commented on #49
Wonderful, that was quick. Thank you!

[2018-03-26 19:39] #32 closed

[2018-03-29 16:14] cornerman opened #50 "FormatBlock for filename"
Using the position with class- and methodname is nice, but sometimes not uniquely identifying the log origin. Can we add a `FormatBlock` for the filename? In the best case, we would abbreviate the path or maybe just have the basename of the file.

[2018-03-29 16:35] darkfrog26 commented on #50
@cornerman that's a good idea.  I'm neck deep in something else right now and will be at least tomorrow before I can take a look.  If you feel up to it, please feel free to submit a PR for the functionality.

[2018-03-29 16:37] cornerman opened #51 "Implicit stringify converter from log methods"
Just stumbled on this error in my code which confused me:

[code]

So, the log methods in [`LoggerSupport`](https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/LoggerSupport.scala) take an implicit converter from the given type to `String`. But I am not sure what the use case is: Let's say I would want to log something else than a String. Then I would need to put an implic

[2018-03-29 16:38] cornerman commented on #50
Sure, will take a look on the weekend!

[2018-03-29 16:57] cornerman commented on #47
Furthermore, scribe is great name and the linked project seems abandoned :)

[2018-03-29 17:09] darkfrog26 commented on #50
@cornerman, awesome. Scribe can really use some additional contributors!

[2018-03-29 17:14] darkfrog26 commented on #51
The purpose behind this is to support original types being able to be received by the logging system.  For example, if I'm writing a database logger and want to provide a structured logging of specific types I can do so in Scribe.  For most people, they always just pass Strings, and in your case, you can use:

`import scribe.LogRecord.Stringify._`

That will give you implicit conversion support fo

[2018-03-30 00:49] darkfrog26 commented on #51
PR merged, closing.

[2018-03-30 00:49] #51 closed

[2018-03-30 18:22] darkfrog26 commented on #51
Released 2.3.2 with these changes

[2018-03-30 18:22] darkfrog26 commented on #50
Released 2.3.2 with these changes

[2018-04-11 16:24] darkfrog26 opened #55 "Support for Logstage"
Scribe should directly support Logstash similar to how Logback does: https://github.com/logstash/logstash-logback-encoder

[2018-04-26 19:10] andreak commented on #11
For the archives; The lack of MDC makes Scribe unsuitable for our application which requires logging stuff in a way MDC facilitates.

[2018-04-26 19:18] darkfrog26 commented on #11
@andreak, do you care about thread-safety?  Does it matter if it is a proper MDC implementation (for SLF4J integration) or a better solution that provides the same functionality?

[2018-04-26 19:33] andreak commented on #11
If by thread-safety you mean that the values of MDC-properties are thread-local only and never change for the lifetime of the thread then yes. Mind you that many webservers use a threadpool for handling HTTP-requests, hence reusing threads, so it's important to be able to "install" and "clear" the values of the "current-thread"'s MDC-properties. This is usually done in ServletFilters.

It's hard t

[2018-04-26 20:33] darkfrog26 commented on #11
@andreak take a look at https://github.com/outr/scribe/commit/c52857f9e727b2108d020d30c131d92eee8a9023 and let me know if this fulfills your requirements

It provides a proper implementation of SLF4J's MDC support while also providing a cleaner interface for use in Scala directly.

[2018-04-26 20:34] darkfrog26 commented on #11
Specifically, take a look at the test for an example of usage: https://github.com/outr/scribe/commit/c52857f9e727b2108d020d30c131d92eee8a9023#diff-827f41ef68e5c0de3e996f25ceedc051R97

[2018-04-26 20:40] andreak commented on #11
Looks great, will try it!

[2018-04-26 20:41] darkfrog26 commented on #11
@andreak please confirm after you've had a look and I'll roll it out in 2.3.4 as it has no breaking changes

[2018-04-27 08:52] andreak commented on #11
I'm not able to compile scribe:
[code]

When I import the project in IDEA I get undefined import scribe.MDC, it seems the slf4j module somehow is not dependent on core.

[2018-04-27 13:57] darkfrog26 commented on #11
Sorry about that.  In my rush to knock this out, I didn't properly test it.  If you update the project it should work now.

[2018-04-27 14:43] andreak commented on #11
Thanks, got it to build now. I'll spend some time this weekend integrating it with our application and see how it works. I'll report back.

[2018-04-27 14:45] darkfrog26 commented on #11
@andreak drop me a message on Scribe's Gitter channel if you run into any problems and I'll respond when I can.

[2018-04-27 14:51] andreak commented on #11
Ok, thanks.

[2018-04-30 13:50] darkfrog26 commented on #11
@andreak any updates on this?

[2018-04-30 14:15] andreak commented on #11
I posted a question on the Gitter channel:-) That will allow me to use Scribe without too much manual refactoring.

[2018-04-30 20:04] andreak commented on #11
The MDC-part is confirmed to work OK.

[2018-04-30 20:08] andreak opened #57 "Option to exclude "current-date" from FileWriter.daily"
Using FileWriter.daily, the current ("today") logfile's date is part of the filename.
It would be nice to make an option for excluding the date from the current-file. This would make it easier to make existing monitoring-jobs (which today monitors log4j/slf4j files) to continue monitoring the logfiles, without needing to change them.

[2018-05-01 13:50] darkfrog26 commented on #57
You mean having the current daily log have a consistent filename and at the conclusion of the day it gets renamed to the date stamp?

[2018-05-01 14:25] darkfrog26 commented on #57
I need to spend a little more time with the `path` functionality anyway.  This is a good idea.  I'll get it added to the current release.

Thanks @andreak

[2018-05-01 14:33] andreak commented on #57
Great!

[2018-05-01 16:37] darkfrog26 commented on #57
@andreak take a look at the re-working of `FileWriter`.  I need to write some tests to make sure everything is happy with the rolling logging, but it offers a much more flexible path and hopefully fulfills all of your needs.

[2018-05-01 17:11] andreak commented on #57
Ok, so instead of using .daily() I must use apply() supplying my own implementation of FormattedFileLoggingManager, which takes a custom fileName func where I simply control whether or not to use the millis-value as part of the filename or not?
Works for me.

[2018-05-01 17:31] andreak commented on #57
Aha, right.

[2018-05-01 17:50] #11 closed

[2018-05-01 20:56] darkfrog26 commented on #57
@andreak can you close this ticket once you've confirmed it fulfills your needs?

[2018-05-01 21:24] andreak commented on #57
It _looks_ like it'll fulfill my needs, but I have to test with actual rollover, which happens in about 35 min. :-)
I'll close it if all goes well.

[2018-05-01 22:03] andreak commented on #57
Works, closing.

[2018-05-01 22:03] #57 closed

[2018-05-01 22:06] andreak opened #58 "Logging not happening in chronological order"
While testing #57 I noticed that my log looks like this:
[code]
(only 6 first fields shown)

Notice that some lines logged at 23:59:57 are logged *after* 23:59:58. I don't recall seeing this with Log4J/Slf4J/Commons-logging etc.

[2018-05-02 03:04] darkfrog26 commented on #58
That's interesting.  Any chance you can reproduce this in a snippet I can use for testing?

[2018-05-02 08:39] andreak commented on #58
Sorry, just spotted it by accident. I assume there is a theoretical way for this to happen, or should this never happen (by design)?

[2018-05-02 13:26] darkfrog26 commented on #58
This may have to do with the fact that Scribe logs truly asynchronously.  As well, the timestamp is assigned immediately when the record is created, but it's possible that actually converting a record for output may take longer.  It looks like I need to add a feature for synchronization to avoid this from happening in cases like file and console logging where output order matters (database logging

[2018-05-02 13:35] andreak commented on #58
Logging from only scribe, and yes - using MDC.

[2018-05-02 13:48] darkfrog26 commented on #58
This one may be a little more work to properly solve without degrading performance, but I'll drop an update once I've written a test to reproduce it and can fix it.

[2018-05-02 14:05] andreak commented on #58
Ok

[2018-05-02 15:12] darkfrog26 commented on #58
Are you using the NIO or IO FileWriter?

[2018-05-02 15:19] darkfrog26 commented on #58
@andreak when you have a chance, can you update your project to the latest code and see if it fixes your problems?

[2018-05-02 15:28] andreak commented on #58
I'm using NIO.

[2018-05-02 15:30] andreak commented on #58
Yes, I'll update and test soon.

[2018-05-02 16:41] andreak commented on #58
Sorry to say, didn't help...

[2018-05-02 16:45] darkfrog26 commented on #58
Well, crap...I'm having a hard time reproducing this in a test.

[2018-05-02 16:50] darkfrog26 commented on #58
BTW, on most machines, the FileWriter using IO is typically faster than NIO.

[2018-05-02 16:51] darkfrog26 commented on #58
@andreak if you wouldn't mind testing disabling NIO and see if that solves the problem that would be appreciated

[2018-05-02 19:42] andreak commented on #58
@darkfrog26 Yep, happens when using IO also...

[2018-05-02 20:08] darkfrog26 commented on #58
I can't seem to reproduce this: https://github.com/outr/scribe/blob/master/tests/shared/src/test/scala/specs/AsynchronousLoggingSpec.scala#L51

[2018-05-02 23:46] darkfrog26 commented on #58
@andreak if you could update that spec to reproduce the problem you're seeing, I'd appreciate it.  As it is, I can't solve an issue that I can't reproduce.

[2018-05-03 13:16] darkfrog26 commented on #58
@andreak sorry about that, just test with `testsJVM/test` for the moment.  I hacked that test together and it doesn't work on native or Scala.js

[2018-05-03 13:27] darkfrog26 commented on #58
NVM, if you update the tests all work again

[2018-05-08 09:14] andreak commented on #58
Sorry for late response. I'm not able to reproduce in tests either. OK for me to move on without this, and we can investigate more for next release.

[2018-05-08 12:30] darkfrog26 commented on #58
@andreak 2.3.4 released and we can shoot to resolve this for 2.3.5

[2018-05-08 12:33] andreak commented on #58
Great!

[2018-05-10 22:08] cornerman opened #59 "FileNotFoundException with daily filewriter"
At midnight, I just got a FileNotFoundException in my application from logging. This came from a rotating filewriter `FileWriter.daily(nio = false)` and somehow the file was not there yet.

[code]

[2018-05-11 00:08] darkfrog26 commented on #59
What version of Scribe are you using?

[2018-05-11 00:14] cornerman commented on #59
This is the latest release 2.3.4

[2018-05-11 00:38] darkfrog26 commented on #59
I just published `2.3.5-SNAPSHOT`.  If you have Sonatype Snapshots repo can you give it a try and see if that resolves your problem?  I was making an erroneous assumption about `Files.isSameFile` from their ambiguous docs.

[2018-05-12 08:28] cornerman commented on #59
Looks good to me. Until now I did not have this issue again.

[2018-05-12 14:15] #59 closed

[2018-05-12 14:23] #55 closed, assigned to nobody

[2018-05-14 15:32] darkfrog26 commented on #58
@andreak, sorry to keep pestering you, but I don't like bugs in my core library and I can't reproduce this.  Have you had a chance to look into this further?

[2018-05-15 15:43] #45 closed

[2018-05-17 14:44] darkfrog26 opened #61 "Better AsynchronousLogHandler"
Better support for AsynchronousLogHandler using a `ConcurrentLinkedQueue` and a background thread pulling.  Include support for overflow (block or drop) and max queue size.

[2018-05-18 18:24] darkfrog26 opened #62 "ExecutionContext implicit for Future traceback"
Currently, there is no good way to trace back the original caller of a `Future` in Scala.  Providing a Macro-based `ExecutionContext` could offer such a feature to expose stack tracing additional information as well as non-stack derived traceback.

[2018-05-18 18:27] darkfrog26 opened #63 "Multithread-Capable MDC"
MDC sucks as a paradigm on Logback and SLF4J as it's a single-threaded / ThreadLocal nightmare and entirely useless in asynchronous operations.  We should add a better core system (perhaps building upon `ExecutionContext`: #62 ) to easily and conveniently support thread-safe usage.

[2018-05-18 19:55] #61 closed

[2018-05-19 16:12] darkfrog26 opened #64 "Add SampleTime to benchmarks"
Add SampleTime to https://github.com/outr/scribe/blob/master/benchmarks/src/main/scala/scribe/benchmark/LoggingSpeedBenchmark.scala#L34

[2018-05-19 16:12] darkfrog26 opened #65 "Add GarbageFree mode for log4j in benchmarks"
https://logging.apache.org/log4j/2.x/manual/garbagefree.html

[2018-05-19 16:13] darkfrog26 opened #66 "Explore off-heap logging"
Explore using https://github.com/densh/scala-offheap to remove memory hit in JVM

[2018-05-24 14:01] cornerman opened #67 "Rolling FileWriter with maximum size"
I would like to have a logger which writes to a file but occupies only a fixed maximum size on disk. I just want to keep the most rececent `xxx mb` from these logs.

Can we therefore have a rolling file writer with a maximum bytes per file and maximum number of files setting? Or is this already possible?

[2018-05-25 14:52] darkfrog26 commented on #67
Though this is technically already possible, it's not easily accomplished.  I'll try to get this handled in a more simplistic way for 2.5.

[2018-05-29 14:21] darkfrog26 commented on #58
@andreak I'm hoping to close this as part of 2.5.0.  If you are no longer able to reproduce this I'll go ahead and close it and we can open a new ticket if you see it again.

[2018-05-29 19:57] darkfrog26 opened #68 "FileWriterManager"
We need to be able to couple lots of features like:
* Maximum number of logs (LogFileManager)
* Rolling logs (PathBuilder)
* Maximum sized files (PathBuilder)
* Date formatted files (PathBuilder)
* Compression of files (LogFileManager)

In #67 we could easily write a rolling `FileLoggingManager` that rolls when it reaches a certain size, but it doesn't properly handle compression, a maximum number

[2018-06-01 18:49] #68 closed

[2018-06-01 18:52] darkfrog26 commented on #67
@cornerman, I've done another major refactoring of FileWriter to support a much better level of customization and flexibility.  I'll likely do some additional refactoring in the future to create a builder pattern for more customized solutions, but if you check out `master` you should be able to see it in action.  Please let me know if this fulfills your requirements and I'll get this out in the 2.

[2018-06-01 18:55] darkfrog26 commented on #65
Based on the documentation, this should already be in use

[2018-06-01 18:55] #65 closed

[2018-06-02 10:12] cornerman commented on #67
@darkfrog26 This looks really nice! If I do not enable gzip, it will delete old files right?

Just two question regarding the options:
* `maxLogs` and `maxSize` options for the flat writer: What would happen if I set maxLogs but not maxSize - would this be the same as a simple writer? If this is the case, maybe a `fileRestriction: Option[FileRestriction]` including maximum logs and size could be i

[2018-06-02 13:59] darkfrog26 commented on #67
If `maxLogs` is set but `maxSize` is not, then nothing happens for flat.  However, this is applicable for the formatted writer because it will still create new log files even without a `maxSize`.  I'm up for suggestions to make this cleaner...this is just a first pass focusing on functionality more than usage.

The `gzip` option means old log files will be gzipped or just left alone if false.  As

[2018-06-02 20:59] cornerman commented on #67
Ah, got it - will try it out and let you know how it works out. Thanks so much!

[2018-06-03 19:17] darkfrog26 commented on #67
Please close this after you've had a chance to test if this fulfills all of your needs.  If you have any suggested changes please let me know.

[2018-06-05 15:45] #62 closed

[2018-06-05 15:47] darkfrog26 commented on #62
While the current solution isn't perfect, it's not bad and unless something can change with `ExecutionContext`, it doesn't look like we'll get something better in the near future: https://github.com/scala/bug/issues/10921

[2018-06-05 15:47] darkfrog26 commented on #67
@cornerman, any updates on this?  I just finished the major functionality for 2.5 and this is the only blocker left.

[2018-06-05 16:38] darkfrog26 commented on #66
Since Scala Offheap only supports Scala 2.11 and initial investigation doesn't seem to lead to improvements except in crazily unrealistic use-cases, I'm closing this issue.

[2018-06-05 16:38] #66 closed

[2018-06-05 17:16] darkfrog26 opened #71 "ANSI Support Functionality"
Colors and other ANSI features should be conveniently supported in Scribe

[2018-06-05 18:01] #71 closed

[2018-06-05 21:22] cornerman commented on #67
@darkfrog26 Sorry for the delay. Finally managed to check it out and works great for this use-case.

One thing I noticed, when I manually deleted a file, the logger did not like it. A `FileNotFoundException` is thrown when trying to rename a non existing file. The app cannot recover from this. Here is a stacktrace:

[code]

[2018-06-05 21:27] cornerman commented on #67
Just a nitpick: Can we maybe rename the parameter `maxSize` in the FileWriter factory to `maxBytes`, because I had to lookup the unit was bytes :)

[2018-06-05 22:02] darkfrog26 commented on #67
Updated...let me know if those fulfill your needs.

[2018-06-05 22:09] cornerman commented on #67
Thank you for the fast update! This is perfect :)

[2018-06-05 22:09] #67 closed

[2018-06-06 14:55] darkfrog26 opened #73 "FileWriter Builder Pattern"
In 2.5 basic builder pattern support was added, but for the more complex scenarios, it is a pain to configure manually.  We need to support clean setup of the `FileWriter`.

[2018-06-06 14:56] darkfrog26 opened #74 "Better Code Coverage"
While 100% coverage isn't usually practical, we need to raise our numbers.

[2018-06-06 16:03] darkfrog26 opened #75 "Timer Support"
Add functionality to allow a scoped timer to track time elapsed and other stats easily in logs

[2018-06-10 21:18] darkfrog26 opened #76 "Extensive Testing of Scala Native"
Scala Native has been haphazardly supported and needs a lot more TLC to be incredibly solid and stable logging

[2018-06-12 22:11] balatbn opened #77 "Per call tracing support"
Scenario: In production, we generally have WARN as log level. However, in case of issues with clients, we want to enable all logs(say DEBUG and above) for a particular client.

Is it possible to achieve this scribe? Basically can we pass an additional(implicit/normal) flag or traceid to scribe and control the logging?

----

If this is not available by default, any hints on how to implement this i

[2018-06-14 21:34] darkfrog26 commented on #77
Can you further clarify what you see this looking like?

[2018-06-15 14:56] darkfrog26 commented on #77
@balatbn, there are a few ways to accomplish this today in Scribe, but I'm trying to get a better perspective from you how you'd like to see this work to make sure we can accommodate.

You can always define a [LogBooster](https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/modify/LogBooster.scala) that boosts all logs on a specific path. This can be toggled on/off programm

[2018-06-15 15:31] balatbn commented on #77
To add more, we have done something similar in "olden days"(one thread per request) using log4j MDC. However, in newer async world, it is hard to use MDC for this purpose.

[2018-06-15 15:40] darkfrog26 commented on #77
To `LogBoost` a single call you can create a custom logger with the booster and use it for when you want a boosted log record.  There are other ways to accomplish that, but that would be the simplest.

I'm still confused what you mean by the `traceId`.  If I understand you correctly, you could create a custom `LogModifier` that checks for `traceId` in MDC (which, in Scribe, supports asynchronous M

[2018-06-21 15:43] darkfrog26 opened #78 "LogRecord.column"
Expose column number in LogRecord to allow better traceback for long lines.

We should update Macros.log to utilize `position` Macros method to reduce duplication.

[2018-06-21 15:45] darkfrog26 opened #79 "Better benchmarks"
1.) Better tooling to expose performance flaws
2.) Additional benchmarks to show more features of Scribe
3.) A library to generate graphical reports on the benchmark results

[2018-06-21 18:36] balatbn commented on #77
traceId is just a string client passes(say as part HTTP header). Our idea is something like: If client passes a traceId in a request, enable all debug messages for the call and print it with traceId. Thanks for the details on LogBooster and LogModifier.

---

w.r.t to MDC, we use http4s as our HTTP framework. So, mostly we don't directly deal with ExecutionContext directly. Sorry, I'm not sure how

[2018-06-27 14:54] gvolpe opened #80 "Scala 2.12.6 support"
Hi, not sure whether this is a bug on `scribe`, on `tut` or just a compatibility issue between these two dependencies. I have a project using `sbt-microsites` (that uses `tut`) that uses `logback` and `slf4j`. I tried to get rid of these two in favor of `scribe` but now I have a weird error and I couldn't find much information about it. Here's the [diff](https://github.com/gvolpe/fs2-redis/compare

[2018-06-27 15:55] darkfrog26 commented on #80
I'm not sure.  I'm using Scala 2.12.6 in most of my projects and Scribe has been running flawlessly there.  My best guess would be `tut` doesn't like something with regard to how Scribe uses Macros, but that's just a guess.  I did a search for that error and saw that some other projects have had similar problems (all of them use Macros) but no indicator the cause.  Unfortunately that error is incr

[2018-06-27 15:57] darkfrog26 commented on #80
I presume you've done a full clean before compiling?

[2018-06-28 03:21] gvolpe commented on #80
I thought it might be related to macros but the reason I opened an issue here is because only happens when I add `scribe` to my dependencies, I'm guessing there must be some macros conflict with `tut`.

I downgraded to Scala 2.12.4 and the issue remains the same. Answering your last question, yes, I did a full clean and I even deleted all the target folders manually :smile:

I'm asking in the `sbt

[2018-06-28 14:09] darkfrog26 commented on #80
Let me know if there's something in Scribe I can do to alleviate the symptoms, but I'm pretty sure this is a bug in `tut`.

[2018-07-11 17:05] darkfrog26 commented on #80
@gvolpe, any updates on this?

[2018-07-11 18:42] darkfrog26 opened #82 "Ultimate Formatter"
The pre-defined formatters are decent and consistent with other logging libraries, but we should add another formatter to utilize the more powerful features of Scribe including color, justification, MDC, etc.

[2018-07-11 18:43] darkfrog26 commented on #77
@balatbn, I wanted to follow-up with you and see if you were able to get this sorted?  If not, let me know and I'd be happy to help any way I can.

[2018-07-16 19:07] darkfrog26 opened #83 "Create Scribe Config Module"
Currently, the configuration of Scribe is entirely programmatic and at the discretion of the developer using it.  It would be very useful to provide an optional module that incorporates Profig configuration to control logging configuration.

[2018-07-16 19:07] #80 closed

[2018-07-17 15:39] balatbn commented on #77
We haven't solved it yet. Looks like we need to write a new Logger. However, we are not quite comfortable with Scala Macros. Still working on it.

I'll close this for now.

[2018-07-17 15:39] #77 closed

[2018-07-17 15:43] darkfrog26 commented on #77
@balatbn, I'd be happy to keep working with you on this.  I don't understand why you'd need Macros for it though.  Can you clarify, possibly giving some code samples for what you're trying to do?

[2018-07-20 10:03] andreak opened #84 "FileWriter.rolling disappeared in 2.5.0"
In <= 2.4 the default behaviour of FileWriter.rolling was to always name the current log-file without the date and only use the date as part of the filname for archived logs.

I think the default for FileWriter.date should behave that way. Other common loggers (SLF4J, Log4J) does this.

[2018-07-20 12:45] andreak commented on #84
Or an example of how to achieve same behaviour as the previous RollingFormattedFileLoggingManager

[2018-07-20 13:28] andreak opened #85 "FileWriter.date defaults to illogical filename"
Using version2.5.3
It generates filnames as ```prefix2018-07-20.log```. Should be ```prefix.2018-07-20.log```, that is a dot before the date.

[2018-07-20 14:55] darkfrog26 commented on #84
@andreak, I acknowledge this is the typical default operation, but I disagree that this should be preferable.  Can you clarify why this is a better way?  Personally, I prefer the logs to always write to their specific date format.

I'm not sure how I forgot to include rolling support like I did before.  I'll make sure to get it added ASAP.  Sorry for the inconvenience.

[2018-07-20 14:57] darkfrog26 commented on #85
Fixed locally.  I'll close this issue when `2.5.4` is released.

[2018-07-20 14:58] darkfrog26 commented on #84
To clarify my previous statements. I agree this should be supported, but I'm looking for justification for why you believe it should be the default.  Note: Because the other loggers do it isn't sufficient justification. ;)

[2018-07-20 15:22] andreak commented on #84
Thanks for looking into this!
It's not very important for me if this is default or not as long as it's configurable. In general I think it's more convenient to manage "current logfiles" with static names. Else I would have to wrap ```tail -f fileName.`date +%Y-%m-%d`.log``` in an alias and change existing monitoring-scripts (icinga).

[2018-07-20 15:23] andreak commented on #85
Nice, thanks!

[2018-07-21 08:18] gvolpe commented on #80
Hi @darkfrog26 , sorry for my absent, been away for a couple of weeks.

I'll try to work it out in these days and will let you know if needs to be re-opened. I've been talking with @tpolecat about it and it might be a bug in `tut` but still, I need to do more research.

Thanks again for your time!

[2018-07-23 05:50] gvolpe commented on #80
Hi again @darkfrog26 ,

I did ask for help in the scala/contributors channel and apparently what's causing the problem is the `scala reflect` library. Scribe pulls Scala 2.12.6 and it conflicts with some other libraries that compile against Scala 2.12.4 or prior.

I temporarily fixed the problem by downgrading to Scribe 2.3.0 that is built on top of Scala 2.12.4 and the problem disappears but this

[2018-07-23 12:52] darkfrog26 commented on #80
Hmmm, that's a shame.  Let me know if there's anything else I can do short of downgrading Scribe.  You should try building `tut` against `2.12.6` and see if that fixes it.

[2018-07-23 20:44] tpolecat commented on #80
tut 0.6.7 is out for 2.12.6 if you want to try it

[2018-07-24 00:59] gvolpe commented on #80
Thanks @tpolecat will give it a try!

[2018-07-25 00:37] n4to4 opened #86 "Typo in getting started page"
Just a small typo, but in the [getting started page](https://github.com/outr/scribe/wiki/getting-started#configuring-the-logger),
this `clearHandler` should be `clearHandlers`, I think.

[code]

[2018-07-25 13:35] darkfrog26 commented on #86
Fixed, thank you. :)

[2018-07-25 13:35] #86 closed

[2018-08-07 14:45] fdietze commented on #40
@darkfrog26
Scribe still pulls in `scala-java-locales` indirectly via `perfolation`. Is it possible to remove this dependency as well?

[2018-08-07 14:51] darkfrog26 commented on #40
@fdietze, unfortunately, for any date formatting it's required.  If you have another suggestion of how to accomplish that without it, I'd be happy to consider it.

[2018-08-08 18:41] fdietze commented on #40
I understand. One could use `java.util.Date`. While most methods are deprecated, it is available on the jvm and scalajs (I don't know about native). These should be enough for logging.

[code]

I suspect that the increased file size prevents many scalajs-projects from using scribe.

[2018-08-08 19:00] darkfrog26 commented on #40
@fdietze while I agree, the simple use-case of date formatting would be solved with `java.util.Date`, there are advanced use-cases that it does not handle.  If you can offer a way to implement the methods in `CrossDate`(https://github.com/outr/perfolation/blob/master/core/shared/src/main/scala/perfolation/CrossDate.scala) without using the dependency I would happily drop it.

While I agree the siz

[2018-08-08 19:13] fdietze commented on #40
I didn't know that you have already implemented `CrossDate` using `js.Date`:
https://github.com/outr/perfolation/blob/master/core/js/src/main/scala/perfolation/JavaScriptCrossDate.scala
This is great! I thought it would be using `scala-java-locales`.

So as I see it now, the only problem seems to be the usage of `java.util.Locale`:
https://github.com/outr/perfolation/blob/master/core/js/src/main/s

[2018-08-09 01:31] darkfrog26 commented on #40
The Scala.js implementation of Locale doesn't properly set the default locale so if you don't set that line a NPE is thrown when you try to access anything.

[2018-08-13 13:07] darkfrog26 opened #87 "Logging methods takes 0 to 4 args"
Currently, the logging methods take exactly 1 or 2 args (the latter being if an exception is included). With the use of implicits, we could support any organization of those args with separation between.

[2018-08-13 13:30] cornerman commented on #87
Can you elaborate how this would be used? I am not sure I understand the description :)

[2018-08-13 13:35] darkfrog26 commented on #87
Right now it's `def info[M : Loggable](message: => M): Unit`, but I want to support `def info[M1: Loggable, M2: Loggable](message1: => M1, message2: => M2): Unit` etc.

For zero arguments it would allow a blank logging line to be added. I find myself wanting to do that sometimes.  Make more sense?

[2018-08-13 14:09] cornerman commented on #87
Ah, that makes sense. So we would then have some default way to concatenate/combine multiple messages in one logline (like we do for adding the exception message)?

[2018-08-13 15:56] darkfrog26 commented on #87
Yes, exactly!

[2018-08-13 15:57] darkfrog26 commented on #73
@cornerman, I've been trying to come up with a good DSL pattern for creating a file writer with all the options (gzip, renaming, etc.) and would be interested in any thoughts you might have here.

[2018-08-13 17:09] cornerman commented on #82
Can we somehow incorporate the `css` styling possibilities from `console.log` when using scribe in javascript?

In our frontend code, we have some `console.log` statements instead of scribe, just to be use `console.log` for pretty printing `js` objects and for styling the output.

[2018-08-13 17:32] darkfrog26 commented on #82
@cornerman, I actually didn't realize that was possible until you mentioned it.  Yes, I think that's an awesome idea!  We should probably create a generic stylizer that formats for Browser Console, ANSI, or HTML depending on the destination and provide a consistent syntax regardless of the output.

[2018-08-13 17:34] darkfrog26 commented on #82
We could provide an abstract wrapper around the three destinations (with support for others to be plugged in) providing a `Style` class that might look similar to https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/ANSI.scala

[2018-08-13 19:17] cornerman commented on #82
Interesting, I like the generic style idea!

For console.log, we do not always want to stringify the `loggable` message. So you could call `scribe.warn("Some message", someJsObject)` and get a pretty-printed `someJsObject` from the browser console. Do you think this is possible?

There also features like grouping with console.log:
https://developer.mozilla.org/de/docs/Web/API/Console/log

[2018-08-13 19:37] darkfrog26 commented on #82
Hmmm, that's possible right now, but only with a custom `Writer`.  I want to think about this some more.

[2018-08-13 20:51] cornerman commented on #40
Hmm, interesting. What effect does the `setDefault` of the locale have on js-date?What do you mean with "access anything" here?

For us, the file size is really a problem, because we worked hard to avoid this dependency ourselves. It pulls in all locale strings of all languages into the minified/optimized javascript bundle - which really is unnecessary. I would really like to make this optional or

[2018-08-14 02:30] darkfrog26 commented on #73
Not exactly, but you can take a look at this: https://github.com/outr/scribe/blob/master/core/jvm/src/main/scala/scribe/writer/file/LogFileManager.scala

It should give you a glimpse at what I'm trying to accomplish.

[2018-08-14 15:44] darkfrog26 commented on #40
@cornerman and @fdietze, I would be happy to completely remove that functionality. It was intended as placeholder until we could get a better solution.  If either or both of you are willing to work on a PR to perfolation or scribe I'd be happy to assist any way I can.  I've re-opened this ticket as I agree this is an issue that should be solved if it can be.

[2018-08-14 15:49] cornerman commented on #40
Cool! We will try to start working on this soonish :)

[2018-08-14 15:51] darkfrog26 commented on #40
@cornerman, awesome. Feel free to message me on Gitter if you need anything from me.

[2018-08-22 17:26] darkfrog26 commented on #73
Feature list:
* Maximum number of logs (delete old logs)
* Maximum sized log files
  * Roll-off old records support
  * Create additional files
* Renaming logs (primarily for standardized name for current log file being renamed to a date stamp)
* GZip support

[2018-08-22 17:35] darkfrog26 commented on #73
Scenarios:
* Rolling log files (app.log renames to app-YYYY-MM-DD.log after each day)
  * `FileWriter.nio.path("log/app.log").rolling(FileWriter.format.daily)`
* GZip old log files
  * `FileWriter.io.path(FileWriter.format.daily).gzip()`

[2018-08-22 18:54] andreak commented on #73
Looks good.
Any reason you've switched to having Path+fileName in one String, or is just for the example showing the DSL-pattern?

[2018-08-22 19:01] darkfrog26 commented on #73
@andreak, the `path` method looks like: `def path(logPath: => Path)` allowing you to define any mechanism you want for deriving a path.  I'm working on a new prototype right now that may offer even greater flexibility.

[2018-08-22 19:02] andreak commented on #73
I see. Works for me.

[2018-08-22 19:10] cornerman commented on #73
@darkfrog26 The scenarios look nice! One question: What type does `FileWriter.format.daily` have? It might make sense to move these format functions to another object, because otherwise you might confuse `FileWriter.format` with a factory for a FileWriter. It should be clear, that there are two options for constructing a filewriter: either `io` or `nio`.

Is a record one logline?

What kind of fil

[2018-08-22 19:15] cornerman commented on #73
What comes to my mind in the first example:

Is it necessary to provide a `path` in this example or could we directly use the name resulting from the `rolling`-format? The format can often already identify which one is the latest file.

[2018-08-22 19:26] darkfrog26 commented on #73
@cornerman, great questions!

The daily format looks like this:
[code]

I agree, I'll end up doing a lot of cleanup work after I have this thing working to the extent it can actually support all the scenarios I'm trying to support.

The `io` and `nio` are modifiers, so you can exclude them and it will use the default (which will eventually be determined automatically choosing the optimal solution)

[2018-08-22 20:09] cornerman commented on #73
Thanks for explanation, sounds good to me!

About `io` and `nio`: How do you actually decide which one is more fitting? :)

[2018-08-22 22:05] darkfrog26 commented on #73
Most of the time `io` is faster, but if I recall, on MacOS `nio` is faster.  I may need to write a detection of the FS it's running on or something.  That's probably a 2.7 feature. ;)

[2018-08-23 13:42] darkfrog26 commented on #73
Quick update regarding rolling files:

`FileWriter().path(Paths.get("logs/test.log")).rolling(LogFilePaths.daily("logs/test-", ".log"))`
Will create `logs/test.log` and write to it for a day. When a new day starts it will rename `logs/test.log` to `logs/test-YYYY.MM.DD.log` and create a new `logs/test.log`.

Removing `path(Paths.get("logs/test.log"))` will just make it use the default `logs/app.lo

[2018-08-23 14:04] andreak commented on #73
I find it a bit strange that the default-filename must include the "separator-char" '-'. Makes more sense having it as a separate argument/variable somewhere, maybe with a default value of '-'.
It would be nice to be able to place the date-pattern elsewhere.
Some might want the ```YYYY.MM.DD``` last in the name, like ```"logs/test.log-YYYY.MM.DD"``` or ```"logs/test.log.YYYY.MM.DD"```

[2018-08-23 14:06] darkfrog26 commented on #73
@andreak, good points and the `LogFilePaths` is just boilerplate right now as I haven't gotten to that part yet.  Are you okay with the combination of `path` and `rolling`?  Is that easily understandable?

[2018-08-23 14:11] andreak commented on #73
Yes, and I assume one can append .gzip()? as in ```FileWriter().path(Paths.get("logs/test.log")).rolling(LogFilePaths.daily("logs/test-", ".log")).gzip()```

[2018-08-23 14:13] darkfrog26 commented on #73
Actually, because of the nature of how and where GZip must be applied, it's `rolling(path, gzip = true)`. The same for `path(path, gzip = true)`. When a file is rolled off or a path change is detected, the old file will be gzipped.

[2018-08-23 14:29] darkfrog26 commented on #73
Any other scenarios you guys can think of that need to be supported?

[2018-08-23 19:32] darkfrog26 commented on #73
@andreak and @cornerman, take a look at the current implementation when you have a chance: https://github.com/outr/scribe/blob/2.6/core/jvm/src/main/scala/scribe/writer/FileWriter.scala

It's not finished, but most of the functionality is there. Let me know if you see any mistakes or missing functionality.

[2018-08-23 21:50] andreak commented on #73
is ```checkRate``` for having Scribe check every ```rate``` millis if it's necessary to roll the file, and not for every log-record?

[2018-08-23 21:52] andreak commented on #73
BTW; The project now builds in IntelliJ by only opening the build.sbt file. No extra steps needed yej!

[2018-08-23 23:13] darkfrog26 commented on #73
@andreak, yes, `checkRate` is just a performance optimization when logging in a tight loop to avoid unnecessary CPU time wasting.

Did IntelliJ not build for you before?  It always has for me...

[2018-08-23 23:18] andreak commented on #73
IntelliJ barfed on some red code and it seemed it didn't understand project-deps correctly. I didn't run any ```gen-idea``` sbt-command. I don't do now either, but now it works out of the box.

[2018-08-24 15:46] darkfrog26 opened #88 "Performance Tuning for New Functionality"
The current build on 2.6.0-SNAPSHOT is on par with log4j now and needs to be tuned back to its previous blazing speed.

[2018-08-24 17:20] #85 closed, assigned to nobody

[2018-08-24 17:43] cornerman commented on #73
This looks really good to me so far! Looking forward to see the implementation :)

When we want to have a maximum number of logs, can we have a possibility to invoke different actions (not only delete but also something like archive). Then one could keep a number of logs on the host and archive older logs to another storage medium. That might even be interesting for the rolling filewriter, where w

[2018-08-24 17:59] darkfrog26 commented on #73
@cornerman, that's a really good idea...give me a few to try to incorporate that.  I already support this with `maxSize` for maximum log file size, but it shouldn't be difficult for to incorporate the same concept for `maxLogs`.  I'll get back to you. :)

[2018-08-24 18:03] darkfrog26 commented on #73
How about a `logManager` function:
[code]

By default, as you can see it will delete old logs, but you can override this functionality to do whatever you want with those files.

[2018-08-24 18:06] cornerman commented on #73
Nice, looks good to me!

[2018-08-24 18:07] cornerman commented on #73
Can we add the unit to the `checkRate`?

[2018-08-24 19:41] darkfrog26 commented on #75
Use MDC?

[2018-08-25 13:57] darkfrog26 commented on #87
Okay, I've added support for zero arg, but adding more than one value would include significant changes to `LogRecord` and on further reflection, I think that's a bad idea.  LogRecord has the signature `LogRecord[M]` and I'm not prepared to change that at this point.  I may re-evaluate this in 2.7.

[2018-08-25 13:57] #87 closed

[2018-08-25 14:17] #78 closed

[2018-08-27 18:48] #88 closed

[2018-08-27 18:49] darkfrog26 commented on #88
Performance is back to more than three times faster than log4j:
[code]

Will run more strenuous benchmarking before release.

[2018-08-27 18:49] darkfrog26 commented on #79
Though I've added some additional benchmarking support, this should be an on-going process. Moving out of 2.6 release.

[2018-08-27 18:54] darkfrog26 commented on #75
Moving this to 2.7 as it needs more thought. This idea should evolve beyond a simple "timer" to pluggable functions that allow changing content over time. Possibly supporting conditional `FormatBlock` so it can appear or disappear based on usage.

[2018-08-27 23:20] darkfrog26 opened #93 "FlushMode to replace autoFlush"
Currently, `autoFlush: Boolean` is incredibly misleading. You'd expect that with that disabled, no automatical flushing would occur. However, a background thread periodically flushes in that case.  We should support a much better representation with the ability to define custom modes.

[2018-08-28 16:57] darkfrog26 opened #94 "ShutdownHook to Flush"
If `autoFlush` is not enabled, it is possible for log records not to be written completely before the application terminates. To resolve this, we should have a shutdown hook to make sure all open files are flushed properly.

[2018-08-28 18:41] Daenyth opened #95 "Module to support asynchronous traces for cats-effect"
Continuing from https://gitter.im/scala/scala?at=5b859436c53ee54c18b6e399

- Support async traces for `cats.effect.IO`
- Ideally support any `F: Effect`

[2018-08-28 18:53] darkfrog26 commented on #95
@Daenyth, any additional information or insights on this would be appreciated. We can create a `scribe-cats-effect` module to support this.

[2018-09-07 21:17] SethTisue opened #96 "test suite hangs after recent commits"
in the Scala 2.12 community build at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/ was green as of 25f3e55639f5f4d, but then newer commits are causing the test suite to consistently hang, e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3469/consoleFull

the problem is also reproducible outside of the comm

[2018-09-08 17:29] #94 closed

[2018-09-08 17:30] darkfrog26 commented on #40
@cornerman and @fdietze, any updates on this?

[2018-09-08 17:55] cornerman commented on #40
@darkfrog26 nothing new for now. i currently do not have much time for taking care of this. so, maybe we should remove it from the milestone if it is a blocker? eventually, we will definitely revisit this issue, because the size issue matters for us - just does not hurt enough yet :)

[2018-09-11 17:30] darkfrog26 opened #97 "Structured Logging Support"
LogStage has some interesting ideas for structural logging and extracting variables from compile-time interpolated Strings (like `s""`).  This could be a very useful feature for Scribe.

https://github.com/pshirshov/izumi-r2/tree/develop/logstage/logstage-api-base-macro/src/main/scala/com/github/pshirshov/izumi/logstage/api

[2018-10-05 13:19] GRBurst opened #98 "Setting minimumLevel < Level.Info does not work"
Hey,

I am using scribe version `2.5.3` and calling `scribe.debug()` and `scribe.trace()` does not appear anywhere, although I tried to set the `minimumLevel` is set to `Level.Debug`, `Level.Trace` or `None`.

However, setting t`minimumLevel` to `Level.Warn` excludes `info` messages as expected.

Is this known and probably fixed in `2.6.0`?

Kind regards

[2018-10-05 15:01] darkfrog26 commented on #98
There was a problem with this previously. Would you mind testing against 2.6 and see if this still occurs?  If it does I can make sure to have a fix quickly.  The 2.5 branch had some issues with a lot of configuration points.

[2018-10-09 21:27] cornerman opened #99 "Update the wiki for new FileWriterBuilder"
I cannot make a PR on a Wiki, therefore I make an issue here. In the `getting started` guide, there are examples of how to configure a filewriter (https://github.com/outr/scribe/wiki/getting-started#logging-to-a-file and https://github.com/outr/scribe/wiki/getting-started#logger-by-class).

We should update them to use the new: `FileWriter().path(LogPath.daily())`

[2018-10-10 01:16] darkfrog26 commented on #99
Updated, thanks man!

[2018-10-10 01:16] #99 closed

[2018-10-18 14:08] darkfrog26 opened #100 "SLF4J Love"
The integration for SLF4J could use a bit more TLC to make it cleaner to use and better functionality for output.

[2018-10-20 16:18] fdietze commented on #98
We updated to `2.6.0` and still have the same problem. Any ideas?

[2018-10-20 16:39] darkfrog26 commented on #98
Can you show the code you have for configuration?

[2018-10-20 17:19] fdietze commented on #98
[code]

Same behavior for `minimumLevel = None`

[2018-10-20 18:02] darkfrog26 commented on #98
I was able to reproduce this locally. Investigating now.  I'll let you know when I figure out the problem.

[2018-10-20 18:03] darkfrog26 commented on #98
Okay, I've found the problem. Not so much a bug as an annoyance. If you change your code to:

[code]

[2018-10-20 20:18] cornerman commented on #98
@darkfrog26 great, that works. thank you!

[2018-10-20 22:35] #98 closed

[2018-11-13 09:51] olafurpg commented on #100
One nice improvements would be to expose the underlying slf4j logger name, `record.className` seems hardcoded to `scribe.slf4j.ScribeLoggerAdapter` at the moment.

[2018-11-13 13:59] darkfrog26 commented on #100
Yeah, this used to not be a problem, but for some reason, it got screwed up along the way.

[2018-11-16 14:07] #100 closed

[2018-11-17 16:13] #93 closed

[2018-11-17 16:14] darkfrog26 commented on #95
@Daenyth, I'm not very familiar with `cats-effect`. Are you willing to assist with this at all?

[2018-11-17 16:26] darkfrog26 opened #101 "MDC Functional Support"
Support function values for MDC to provide for changeable values at each log time.

[2018-11-17 16:30] #101 closed

[2018-11-17 16:38] #75 closed

[2018-11-18 03:03] Daenyth commented on #95
Possibly - I don't really have the time to commit to anything right now

[2018-11-20 02:08] darkfrog26 commented on #82
Anyone have any ideas for the ideal color scheme of colored logs?

This is what I've got right now:
![screenshot from 2018-11-19 20-07-40](https://user-images.githubusercontent.com/877534/48746879-ec33b180-ec36-11e8-98a0-821da7d7f021.png)

[2018-11-20 08:37] cornerman commented on #82
On the first glance, this looks cool already! What comes to my mind, @fdietze has built a really nice tool for choosing a set of colors for, e.g., a colorscheme. Maybe it helps: https://github.com/fdietze/pigment ([online demo]( https://fdietze.github.io/pigment#AAACAQQDAAAAZmaOQo9L2EKAEvE%2FAwAAAAAANkKwoXdCFHMtQAMAAACamaNChMTiQuhKOz8DAAAAAACZQrDD1EI%2FlZ5AAwEDAAAAZmbmQdC6vkJreps%2FAAAA))

[2018-11-20 14:22] darkfrog26 commented on #82
That's really interesting, I hadn't seen that before.  However, the color scheme for ANSI logging has a maximum of 8, 16, or 256 colors. For best compatibility, I'm just using 16 colors.  Of course, we'll support extension features for other outputs that support more, but for typical logging, I think this is a step in the right direction.

[2018-11-26 03:01] darkfrog26 commented on #82
I have colored LogOutput working now. Items left on the agenda for this ticket to be complete:

- LogOutput styles:
  - Bold
  - Italics
  - Underline
  - Link
  - Image
  - BackgroundColor
- Add support so all logging messages resolve to `LogOutput`, not `String` to allow the content of the log to optionally support specialized styling

[2018-12-02 18:29] cornerman commented on #82
@darkfrog26 nice, this looks awesome :tada:

[2018-12-02 18:41] darkfrog26 commented on #82
@cornerman, FYI, just released 2.7.0, so you can start using this

[2018-12-17 21:18] danorton2 commented on #45
I'm getting this with 1.8.0-beta2, which I need to address [CVE-2018-8088](https://nvd.nist.gov/vuln/detail/CVE-2018-8088)

[2019-01-08 14:12] andreak opened #103 "rolling logger doesn't work as expected when logging to an existing old file which needs to roll at first logging"
Configure logging like this
[code]

I expected that a pre-existing, several days old, file called "trace.log" should be renamed "trace-[date].log", but logging continues to log to the old file, without rolling.

[code]

[2019-01-11 18:32] andreak opened #104 "Extend Abbreviator to support abbreviateClassName: Boolean"
It'd be nice if we had this signature in Abbreviator:
[code]

...such that only package-names are shortened, preventing the ClassName from getting garbeled in the logs. I actually find ClassName much more important than method-name (as the line-number implies that). #

[2019-02-12 16:51] Daenyth opened #105 "Native log4cats implementation"
I'd like to see an alternate scribe class with native log4cats support. The `log4cats-scribe` package exists and works, but it has the drawback of recording incorrect `Position` information, because the logger is defined as a class wrapping around `Sync[F].delay(logger.foo(..))`. This causes the position reporting to be marked as the wrapper class rather than the class doing the logging, for examp

[2019-02-12 17:36] darkfrog26 commented on #105
Do you have a link to `log4cats-scribe`?

[2019-02-12 18:22] Daenyth commented on #105
https://github.com/ChristopherDavenport/log4cats/blob/master/cats/scribe/shared/src/main/scala/io/chrisdavenport/log4cats/scribe/ScribeLogger.scala

[2019-02-12 19:55] darkfrog26 commented on #105
@Daenyth, why wouldn't you just do this in that project?  Use your own Macro instead and it should accomplish the same goal, right?

[2019-02-12 20:43] Daenyth commented on #105
I wasn't sure the best project to report it in - if you think it's better there, I'll ticket it on that repo

[2019-02-13 01:49] darkfrog26 commented on #105
Since there is no dependency in Scribe to Cats, it makes sense for that to occur there.

[2019-02-13 14:54] Daenyth commented on #105
Is it possible to reuse the rest of the macros from another project, in that case? Or would it have to be a from-scratch copy/paste implementation. My main concern in making it external is if the macros change over time, then those changes would have to be manually re-applied to the downstream app.

[2019-02-14 02:27] darkfrog26 commented on #105
Yes, the Macros in Scribe can be utilized from external projects like log4cats-scribe

[2019-02-21 14:43] Daenyth commented on #105
Would it be possible to split `scribe.Macros` into a `trait Macros` that contains the current definitions, plus a `object Macros extends Macros`? To do the behavior I want, I need to either override the `Macros.log` macro, or I need to find some way to wrap the existing macros such that I can override `LoggerSupport` instead, and where it currently has things like `macro Macros.autoLevel1[M]`, cha

[2019-02-21 15:36] darkfrog26 commented on #105
I think `log4cats` is WAY more complicated than it needs to be.  You can just create a custom `LogHandler` to call `Sync[F].delay(SynchronousLogHandler.log(this, record))` (see: https://github.com/outr/scribe/blob/544886b43624acd7801461abbad2701e1828d644/core/jvm/src/main/scala/scribe/handler/AsynchronousLogHandler.scala for an example use-case).

You shouldn't need any Macros or other customizati

[2019-02-21 20:06] Daenyth commented on #105
I'm not sure how that would work - I need `scribeCatsLogger.info` (for example) to return `F[Unit]`, and regardless of the `LogHandler`s on the logger, `scribe.Logger#info` returns `Unit`. Constructing an `IO[Unit]` or similar and then *not* threading it into your `flatMap` chain will just result in the `IO` never being executed. How can I call `scribeLogger.info` and get the `IO[Unit]` out of the

[2019-02-21 22:39] darkfrog26 commented on #105
Ah, so you're attempting to chain together calls so they are invoked in sequence, but asynchronously?

[2019-02-25 15:27] Daenyth commented on #105
They aren't necessarily asynchronous, they just need to be suspended via the `Sync[F].delay(a: => A): F[A]` method

[2019-02-26 16:28] darkfrog26 commented on #105
Then why not just have them be invoked inside `delay`, like: `Sync[F].delay(scribe.info("Hello, World!"))`?

[2019-02-26 20:23] Daenyth commented on #105
That's one approach, but at that point you're no longer using the `Logger[F]` interface, and you're mixing in implementation details - other loggers can't be swapped in. Not to mention it's considerably longer than just calling `log.info` or `Logger[F].info`

[2019-03-02 19:20] darkfrog26 commented on #105
Okay, so just write a Macro that does exactly that. Let me know if you need help doing that, but it's pretty trivial.

[2019-03-23 12:10] ngbinh commented on #95
I am also very interested in this. I am quite familiar with `cats-effect` but not with scribe internal

[2019-03-24 02:42] darkfrog26 commented on #95
@ngbinh, I am happy to assist either here or on our Gitter channel if you'd like to give it a go.

[2019-03-25 13:34] Daenyth commented on #95
The easiest way to implement this will be to fork the module with macros in it, and edit the `log` macro to use `Sync` instead of calling direct methods. The cleaner way would be to implement a macro `Transformer` to take the output of the existing `log` macro and wrap `Sync` around it.

[2019-03-25 13:47] darkfrog26 commented on #95
Is this purely a performance consideration? I guess I'm a bit confused understanding the benefit of this. Scribe is so fast, that unless you're logging millions of times a second, you shouldn't see any perceptible impact in the performance of the application if you do the regular synchronous logging.  Also, if you don't want that impact, you can always use the built-in async logging.  I don't have

[2019-03-25 13:55] Daenyth commented on #95
No, it's not about performance, it's about the fact that cats-effect uses an M:N threading model where any usage of `ThreadLocal` for data sharing will have broken semantics, because you can't guarantee what parts are writing or reading. Unfortunately this might not be possible, since it probably requires support in the `IO` runtime logic itself, a la monix `TaskLocal`

[2019-03-25 15:20] darkfrog26 commented on #95
Sorry, I'm not very familiar with `cats-effect`, but I'm happy to help any way I can if you guys want to pursue this further.

[2019-03-28 12:42] darkfrog26 commented on #103
Sorry for the late response on this. I forgot that I never responded.  Any chance you've had a chance to dig into the code and perhaps find the problem yourself? :)

If not, I'll try to get a look into this soon.

[2019-03-28 12:43] darkfrog26 commented on #104
This should be resolved with 2.7.2. Please let me know if you have any further issues.

[2019-03-28 12:43] #104 closed

[2019-03-28 14:43] darkfrog26 commented on #40
Though this was resolved in 2.7.2, it was drastically improved in 2.7.3

[2019-03-28 14:43] #40 closed

[2019-04-01 12:52] waiter-melon opened #107 "Log-level package granularity"
Hi everyone,

Is there any easy way to choose a certain log level for any logger within a particular package?

Similar to what we do with Logback: `<logger name="org.apache.flink.api" level="WARN"/>`

Thanks,

[2019-04-01 14:36] darkfrog26 commented on #107
Can you clarify what you mean?  Does that make anything logged in that package automatically set to WARN?

[2019-04-01 15:07] waiter-melon commented on #107
Nope. That setting states: in that package, logs with log-level **<** than WARN get filtered out (so only WARN and above, ERROR etc.).

[2019-04-01 15:28] darkfrog26 commented on #107
You could use `LevelFilter` to do that:
[code]
You can do that per-class, but there's not really good default package level handling built-in, although it would be pretty easily accomplished:
[code]
If you're interested in creating a more generic solution and contributing it back as a PR it would be welcome. ;)

[2019-04-01 15:42] waiter-melon commented on #107
Thank you @darkfrog26 for the workaround.
I'll be working on providing a more elegant way to do this if I get some time.

[2019-04-27 17:37] rmgk opened #108 "Log message is evaluated multiple times"
Code in the logging message is evaluated twice in the default config:
[code]
While side effects in a logging call may be a terrible idea, this is quite awkward when logging some expensive call.

[2019-04-29 14:36] darkfrog26 commented on #108
Interesting, and a good catch.  I'll look into this.

[2019-04-29 15:19] #108 closed

[2019-04-29 15:20] darkfrog26 commented on #108
@rmgk, this will go out in the next release (2.7.4)

[2019-05-07 07:59] andreak commented on #103
Still happens, and I don't have enough understanding of the code to see why...

[2019-05-07 08:02] andreak commented on #107
I asked about this here: https://gitter.im/outr/scribe?at=5c33bcfa12db9607e7509b61
It would really benefit users migrating from other logging-frameworks commonly used in JAVA-ecosystems.

[2019-05-07 13:40] darkfrog26 commented on #103
I'll try to get this and #107 resolved this week. Thanks for your patience.

[2019-05-11 00:02] darkfrog26 commented on #107
What do you guys think of something like this:

[code]

I haven't finished modeling this out, but it would be more of a builder pattern to define filtering.

[2019-05-11 00:05] darkfrog26 commented on #107
Perhaps a more DSL approach may be better?

[code]

[2019-05-11 14:29] darkfrog26 commented on #107
How does this look? https://github.com/outr/scribe/blob/FilterBuilder/core/shared/src/test/scala/specs/LoggingSpec.scala#L216

[2019-05-13 09:01] rlebran commented on #107
Looks good but what if we want to log with a lower log level for the given package, will it work with this modelisation ?
i.e.: `org.apache.flink.api` with a log level set to DEBUG and the global log level set to INFO.

[2019-05-13 11:34] waiter-melon commented on #107
Maybe we should go for a _path-based_ selection rather than _package-based_. In fact, we should be able to specify down to a single class (`org.apache.flink.api.AnyClass`).

[2019-05-13 11:55] andreak commented on #107
One should definitely be able to specify down to a single class.

[2019-05-13 13:10] darkfrog26 commented on #107
@rlebran, how about this:

This will set anything with the package of "org.apache.flink.api" to `Level.Debug`
[code]

This will boost anything under the "org.apache.flink.api" by one level:
[code]

@waiter-melon, you can do that with this:
[code]

The DSL is pretty flexible and we can continue to expand it as we encounter more scenarios we want to support.

[2019-05-14 20:19] darkfrog26 commented on #107
Unless there are other suggestions, I'll close this ticket and the functionality will release with `2.7.4`.

[2019-05-15 04:41] ngbinh commented on #107
looks awesome!

[2019-05-15 13:54] #107 closed

[2019-05-15 14:48] darkfrog26 commented on #103
@andreak, this should be fixed now and I'll try to do a new release today.

[2019-05-15 14:48] #103 closed

[2019-05-15 14:48] darkfrog26 commented on #103
Sorry this took so crazy long.

[2019-05-15 15:22] andreak commented on #103
Rock on!

[2019-05-15 15:26] darkfrog26 commented on #103
I tried to replicate your test case here: https://github.com/outr/scribe/blob/master/core/jvm/src/test/scala/spec/FileLoggingSpec.scala#L197

I'm publishing 2.7.4 now, so please let me know if you any problems going forward.

[2019-05-15 17:09] darkfrog26 commented on #107
2.7.4 is released

[2019-05-15 23:23] andreak commented on #107
Regarding classname-filters; I found that your example with:
```select(className("org.apache.flink.api.AnyClass")).include(level >= Level.Debug)```
didn't work and I had to use ```ClassNameFilter```, like this:
```select(ClassNameFilter("org.apache.flink.api.AnyClass")).include(filterLevel >= Level.Debug)```
Maybe worth documenting...

[2019-05-16 14:12] darkfrog26 commented on #107
Yeah, sorry, that was a mistake on my part. I've added it to the DSL and it will go in the next release: https://github.com/outr/scribe/commit/8448bda41da2c31ea5134ed58725d575a6d03a3a

[2019-05-29 03:54] blazingsiyan opened #111 "File descriptor leak with `MaxLogFilesAction`"
when using a `Writer` with `maxLogs` like below

[code]

the process will crash eventually by the "too many open files" exception.

The  code shows `maxLogs` use `MaxLogFilesAction.MatchLogAndGZInSameDirectory` to list files in the log directory but forget to close it, and thus result in fd leak:

https://github.com/outr/scribe/blob/a64f225ddf348fd1ec02ba30a677d2fb767febd8/core/jvm/src/main/scala/

[2019-05-29 12:57] #111 closed

[2019-06-10 22:16] darkfrog26 opened #113 "Exclude $anonfun from methods"
Anonymous functions are currently being included as method names and they don't add to the logging, just meaningless characters and should be removed.

[2019-06-29 06:36] rachitnigam opened #114 "Scala 2.13.0 compatible release"
Wondering what needs to be done for a 2.13.0 release and if there is something I can help with to make this happen.

[2019-06-29 15:32] darkfrog26 commented on #114
The issues I ran into when trying to work toward this was problems with Circe's Scala.js in 2.13.  I need to spend some more time investigating.

[2019-06-29 16:25] darkfrog26 commented on #114
Just released Scribe 2.7.8 with Scala 2.13 support. Note: this release doesn't include 2.13 support for `scribe-slack` or `scribe-logstash` because they have a cyclical dependency that won't be resolved until 2.7.9.

[2019-06-29 16:25] #114 closed

[2019-06-29 16:39] rachitnigam commented on #114
Awesome! Thanks a lot!

[2019-07-17 22:51] cornerman opened #115 "Question: Map on FormatBlock"
What happened to the former `map` function on `FormatBlock`? I found it quite useful for changing the output of some formatted string. What is the alternative?

[2019-07-18 12:58] darkfrog26 commented on #115
It got removed when `FormatBlock` changed from using `String` to using `LogOutput`.  It would be trivial to add it back with `def map(f: LogOutput => LogOutput): FormatBlock`, but the reason I didn't is that I figure it wouldn't be very useful anymore.

[2019-07-18 15:10] cornerman commented on #115
Maybe it is not needed anymore, I am totally open to do it in a different way, I just find `map` to be a quite intuitive method to do transformations on the resulting output.

My use-cases:

[code]

Is there a better way to do it? :)

[2019-07-18 17:43] darkfrog26 commented on #115
I just added map back in (https://github.com/outr/scribe/commit/87424c0b826221c69e081cc89a740def72b75ee9) if you want publishLocal and test with that, I'd be happy to do a new release if that gives you what you need.

[2019-07-18 20:41] cornerman commented on #115
Thank you! Though, I am not sure about the usability as is. As far as I understand `LogOutput`, there are different kinds of `LogOutput` like `ColoredOutput`. Then, we would later pattern match on the `LogOutput` and do some variations of outputting the plaintext depending on the type -- e.g. adding colors for ColoredOutput.

Therefore, I think we would need something like `map(f: String => String

[2019-07-19 15:47] darkfrog26 commented on #115
I just pushed a new update that adds `FormatBlock.mapPlain` that I think will do what you want.  Let me know if that does what you need.

[2019-07-19 16:26] cornerman commented on #115
Great! That is exactly what I need :)

Thank you so much for all the work you are doing here. This library is awesome and your support is lightning fast!

[2019-07-19 23:58] darkfrog26 commented on #115
Just released 2.7.9 with this update.  Thanks for the kinda remarks. :)

[2019-07-19 23:58] #115 closed

[2019-07-23 19:05] zchbndcc9 commented on #105
What needs to be done for this? I'd love to take a crack at it since I could really use it.

[2019-07-23 19:20] Daenyth commented on #105
I think it's likely best to maintain by making a module that depends on log4cats-core, and adapting the existing macro to return `F[Unit]` via `Sync[F].delay(existingLoggerThings.info(...))`.

If you can write a macro that transforms the existing call by just wrapping it in `Sync[F].delay` then a lot of code could be reused.

[2019-07-23 19:43] darkfrog26 commented on #105
Happy to help if I can, but I don't use log4cats, so it's a bit out of my element.

[2019-07-24 11:12] david-bouyssie commented on #79
Could you also please include a Scala Native comparison with slogging (https://github.com/jokade/slogging)?

Thanks!

[2019-07-24 14:48] Daenyth commented on #105
It would consist of implementing the `Logger[F]` interface:

<details>
<summary>Logger</summary>

[code]

</details>

The implementation would be to wrap [`Macros.log`](https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/Macros.scala#L48) such that it emits
[code]

[2019-07-24 17:00] zchbndcc9 opened #116 "Documentation on Handlers and Modifiers"
It would be very nice if there was some more documentation on handlers and modifications and how to utilize them / create your own.

[2019-07-25 01:19] darkfrog26 commented on #79
@david-bouyssie, I'd be happy to, but this is way down on my priority list.  If you'd be interested in contributing a PR I'd absolutely include the results in the next benchmark results.

[2019-07-25 01:20] darkfrog26 commented on #116
I agree, and that's an item on my agenda, but if you'd be interested in contributing I'd be happy to answer any questions.  Unfortunately, right now my time is incredibly limited.

[2019-07-25 07:41] david-bouyssie commented on #79
Not a high priority neither on my side, it was just a suggestion for your next iteration.
Thanks ;-)

[2019-07-25 12:49] darkfrog26 commented on #79
Scribe wins over Slogging for the name alone. :-p

[2019-07-25 16:17] zchbndcc9 commented on #116
I am right there with you on the time constraints. I would love to but my plate is also very full ATM

[2019-07-25 16:31] Daenyth commented on #105
See also slf4j macros: https://github.com/ChristopherDavenport/log4cats/blob/f5c7256e73af675154f39de140f6fc08c0a73be5/slf4j/src/main/scala/io/chrisdavenport/log4cats/slf4j/internal/LoggerMacros.scala#L60-L67

[2019-07-29 16:46] zchbndcc9 commented on #105
Would you care explaining what you mean by this? I can't just wrap the `$logger.log(...)` in the Sync monad?

[2019-07-29 17:29] darkfrog26 commented on #105
You should be able to in a Macro, but you can't do it directly or else all of the derived trace information will always point to your code instead of the line that called your code to create the log record.

[2019-07-29 20:59] Daenyth commented on #105
As darkfrog says; if you do `Sync[F].delay(log...)` then the macro will generate `ScribeLogger.scala:123` for every invocation instead of the class calling the log method. That behavior was the impetus for me opening this ticket.

[2019-08-07 20:33] fdietze opened #117 "Tagging of logs"
Very often I find that log levels are not enough. If I set the loglevel to debug. I'm seeing way too many logs that I'm not interested in. My use-case is with ScalaJS in the frontend where I have debug-logging for drag-and-drop, event handling, state, api requests etc.
I would like to somehow tag my logging such that only the tags that are activated are logged. For example, to debug something I on

[2019-08-07 23:28] darkfrog26 commented on #117
It wouldn't be too difficult to add such support, but there are a few other ways to handle this already.  Personally, I would create custom `Loggable` types to represent the different types of messages and create filtering based on that.  If that's not sufficient, I'd happily welcome tags.

[2019-09-14 14:15] darkfrog26 commented on #117
Actually, it just occurred to me that tags already actually exist with MDC.  Please re-open if there is something that you can't do with MDC.

[2019-09-14 14:15] #117 closed

[2019-09-14 15:05] fdietze commented on #117
Thanks, I'll have a closer look.

[2019-11-06 21:32] Bathtor opened #118 "Don't put full file name in logging initialisation"
Hi,

I noticed that the logging macros put the absolute path of the source file for every position into the logging record, which I believe happens here:
https://github.com/outr/scribe/blob/951b94a2c3514db130cd78059a891db4c0c6054a/core/shared/src/main/scala/scribe/Macros.scala#L67

I would like to request to instead only put a **relative path** from the **project root**.

The reason for this reque

[2019-11-06 22:21] darkfrog26 commented on #118
That's a good suggestion.  I'll try to get this added in the next release.

[2019-11-11 15:04] rtar opened #119 "Default path being created wrongly"
Consider the following line of code:
[code]
The approach defined in documentation:
https://github.com/outr/scribe/wiki/getting-started#logging-to-a-file

This will cause the two `LogFile` instances being created. One when `FileWriter.apply` is called, and another when path is changed.

The problem is that, it will also call `logFile.flush()` on the old instance causing, in some cases, for the path

[2019-11-11 16:08] darkfrog26 commented on #119
That's a good point.  Let me look into this and get back to you.

[2019-11-11 16:13] darkfrog26 commented on #119
I don't doubt what you're seeing, but looking at the code, the `LogFile` lazy initializes the writer, so it shouldn't create the file unless you attempt to write something to the `FileWriter`.  Can you further clarify the conditions?  If you feel comfortable digging into the source that would be appreciated as my time is incredibly limited right now.

[2019-11-11 16:21] rtar commented on #119
@darkfrog26 I suspect the reason is the usage of `scribe-slf4j18` library.

It might seem highly improbable that app writes something between call of `FileWriter.apply` and `FileWriter.path`, but I recall `slf4j` being able to replay the messages written to log before the system gets initialized first time.

Hence, it is likely, that if app wrote the stuff _before_ the calls to scribe, it starts t

[2019-11-11 17:03] rtar commented on #119
I have created a minimal project to reproduce the issue. It seems that `slf4j` not needed, and it is not needed to even write anything to logs: https://github.com/rtar/scribe-119

[2019-11-11 17:11] rtar commented on #119
@darkfrog26 I found the problem. It is the following line:
https://github.com/outr/scribe/blob/dd84a32a7ba652a0d0d359c498d88fd85eaa3cc6/core/jvm/src/main/scala/scribe/writer/file/LogFile.scala#L153

The `if (active)` check is not there in `2.7.3` version (took it from documentation, did not check there is a newer release). In `2.7.10` version the check is there, and the cannot be reproduced. I sup

[2019-11-11 17:11] #119 closed

[2019-11-12 01:24] darkfrog26 commented on #119
Ah, that makes me feel better.  I remember that being a problem before, but could have sworn I solved it....apparently I did. :)  No worries man, I'm glad it's working now.

[2019-11-21 23:44] avernet commented on #107
I'd like to filter by class name, so only to see messages logged by specific classes. I'm seeing what seem to be elements for doing so in this thread, but may I ask where this is documented? (It is not even clear to me what I should import to use the `select` I see some of the above snippets.)

[2019-11-22 02:34] andreak commented on #107
Here's my complete logging-config, hope it helps you:

Use like this:
[code]
[code]

The constants Constants are:
[code]
Then these are set in the begining of a web-request:
[code]

[2020-02-26 17:32] david-bouyssie opened #120 "Inconsistent handler minimumLevel behavior"
I'm trying to change the default minimum logging level in a Scala Native library.
I started with these lines of code:

[code]

but it doesn't work as expected.

So I ended up with this more complicated solution:
[code]

It works but I don't understand why the first solution doesn't behave the same.
Maybe I missed something regarding the scribe usage.

[2020-02-27 14:04] darkfrog26 commented on #120
Can you clarify how it doesn't work as expected?

[2020-02-27 16:38] david-bouyssie commented on #120
I was expecting that changing the Handler minimumLevel to a specific value would eliminate logging for inferior levels.

[2020-02-27 17:53] darkfrog26 commented on #120
It should. Are you adding an additional handler later perhaps?

[2020-02-28 08:16] david-bouyssie commented on #120
I'm changing the scribe configuration at a single place and these are the only changes I'm doing.
Moreover isolated the code in a single test to be sure there was not interference with something else.
I can pastebin this test if you want.

[2020-02-28 14:39] darkfrog26 commented on #120
Ah, sorry for not noticing this sooner, but the problem is that you're not calling `.replace()` at the end, so that block doesn't actually do anything. ;)

[2020-02-28 14:39] darkfrog26 commented on #120
[code]

Works exactly as expected.

[2020-02-28 15:13] darkfrog26 commented on #120
Scribe follows a builder pattern, but with immutability, allowing you to derive new loggers from existing one or modify one, but for the latter, you have to call `replace()` or it isn't clear what you want to do with your new logger.

[2020-03-02 08:28] david-bouyssie commented on #120
Oh yes, sorry my mistake... 🤦‍♂

BTW, is there a simple way to disable logging from the root?
It seems that putting None in minimumLevel allows all levels.
This was the purpose of my second filter (when scribeMinLogLevelOpt is empty).

[2020-03-02 14:35] darkfrog26 commented on #120
You already `clearHandlers()` just don't add any...

[2020-03-02 15:33] david-bouyssie commented on #120
Ok thank you for the tip.

Then here is my final solution:

[code]

[2020-03-02 15:33] #120 closed

[2020-05-12 23:52] jvican commented on #79
Great work with the library. I think the current benchmarks might be a bit outdated. The benchmark numbers would be more complete if scribe was benchmarked against log4j's disruptor-based async logger.

[2020-05-13 13:37] darkfrog26 commented on #79
@jvican that's a great point. Any chance you have any interest in putting together a PR to represent that well? Where possible I prefer not to be the one to implement competitor loggers to avoid being accused of slanting in Scribe's favor.

[2020-05-22 15:16] darkfrog26 opened #122 "MDC.global"
Ability to define globally scoped values that apply to all logging. The particular use-case this is needed for is Scala.js clients that send logs to the server and need to be able to record additional information like the user that's currently logged in, IP address, user-agent, etc.

[2020-10-01 11:46] markehammons opened #124 "Make SLF4J requested loggers have parentage rules similar to log4j2 or logback."
Right now, loggers instantiated by things using slf4j are hard to deal with. There's no automated way to parent them, so special rules (for example, to enable debug or trace on a certain library) requires setting root to trace or debug, and then overriding the specific loggers you want to clean up your logs.

It would be nice instead that if you define a logger "com", then slf4j created loggers wi

[2020-10-01 18:58] darkfrog26 commented on #124
You technically can, though it's not as straight-forward as would be ideal. You can define the structure yourself:
[code]

I'd need to think about this more to see if this could be automated, but frankly, using SLF4J is a limiting factor on your project, so where possible, you should really migrate to using Scribe directly.

[2020-10-01 21:16] markehammons commented on #124
I’m using something like the above for the classes in my codebase. The problem comes from trying to control logging events from slf4j using stuff outside the codebase.

If there’s some sort of automated parent-child relationship that’s finer grained than root for classes that are getting loggers from scribe through the slf4j adapter, that would help control logging on these classes much better.

[2020-10-01 21:25] darkfrog26 commented on #124
Can you offer up some pseudo-code of how you envision this would work best for your use-case?

[2020-10-01 21:33] markehammons commented on #124
What my goal is is to be able to do

[code]

and then if some slf4j thing comes looking for `Logger("com.sun.Unsafe")` then it'd have the above `Logger("com")` as its parent instead of root. I have some ideas of how to do this (like for example a trie like lookup to find the closest defined parent logger), but I haven't got a working prototype on my current code yet.

In any case, my thought is th

[2020-10-01 21:40] darkfrog26 commented on #124
That seems reasonable.

[2020-10-01 21:51] darkfrog26 commented on #124
Would you be up to testing a snapshot locally? I'll work up something and I think I'm going to make this a core feature so that you can define hierarchical parentage in normal operation as well.

[2020-10-01 22:42] markehammons commented on #124
Sure, that'd be fine!

[2020-10-02 00:44] markehammons commented on #124
Thinking on this tonight, I thought of an alternative implementation that wouldn't require an additional datastructure.

Say you have `com.sun.Unsafe`. You try to fetch the logger, and if it's not already allocated you create one with that name. Then, you search in reverse to try to find parents. You search for the `com.sun` logger, then the `com` logger, and finally fall back to the root logger.

[2020-10-02 01:45] darkfrog26 commented on #124
Take a look at the latest code in master (`2.8.0-SNAPSHOT`). It's actually fairly similar to what you laid out here. It bodes well that we had a similar idea. :)

[2020-10-02 01:47] darkfrog26 commented on #124
When you call `Logger("com.sun.Unsafe")` if the logger doesn't already exist, before creation, it detects dot-separation and calls `Logger("com.sun")` to get the parent that will automatically be assigned to it, and it, in turn, creates `Logger("com")` for its parent. The beauty of this model is that if they already exist, they are used, and in future calls to the same package, no additional cost

[2020-10-02 01:47] darkfrog26 commented on #124
Check this out, `publishLocal`, and let me know if this solves your problems and I'll get a new release out tomorrow.

[2020-10-02 04:43] #122 closed

[2020-10-02 04:50] #118 closed

[2020-10-02 04:50] darkfrog26 commented on #118
Sorry for taking so long on this, but it will go out in 2.8.  FYI, this will now only contain the file's name, no path at all since you can get the package from `className`.

[2020-10-02 04:57] #116 closed

[2020-10-02 04:57] darkfrog26 commented on #116
I've added some docs to `LogHandler` and `LogModifier` to hopefully make its usage more clear.

[2020-10-02 04:59] #113 closed

[2020-10-02 11:58] markehammons commented on #124
@darkfrog26 I'll try to test this this weekend. There's still a lot of work to be done if I want to know if I can add scribe to my project, and I have to sell my superiors on switching away from logback (something I think is doable, but still is seperate from my current work).

[2020-10-02 15:23] darkfrog26 commented on #124
Sounds good. I'll hold off on releasing 2.8 until I hear back from you, but this is the last remaining issue on my agenda. Let me know if there's anything else that would make it easier to sell. I know how much of a pain it can be to get buy-in for stuff like this. I'm actually in the process of bringing it into my new employer myself (eBay).

[2020-10-03 09:42] markehammons opened #125 "SLF4J and other submodules have fallen out of sync with core"
[code]

Recent changes in core have changed `messageFunction` to `message`. SLF4J, Logstash, and SLF4J18 code needs to be updated to reflect this.

[2020-10-03 09:51] markehammons commented on #125
#126 MR to fix this.

[2020-10-03 11:35] markehammons opened #127 "Logging levels are unintuitive"
When writing a parent and child logger, I would expect to be able to use the .withMinimumLevel to control the logging levels of a logger appropriately. As an example:

[code]

This seems like it would be the appropriate code to make the root logger (and children) log error level messages, and to make the com logger ignore that and log info level messages.

It does in fact make the root logger only

[2020-10-03 11:38] markehammons commented on #124
So I've tested it and the parentage works. However, you may want to address this new issue in some way before releasing 2.8.

#127

[2020-10-03 11:45] markehammons commented on #127
Having seperate handlers is also a bit dangerous because if root is not filtering com's logging events, the two seperate handlers will both print com's logging messages, resulting in doubled logs.

[2020-10-03 16:53] #125 closed

[2020-10-03 17:02] darkfrog26 commented on #127
This is a great point.

[2020-10-03 20:58] darkfrog26 commented on #127
Okay, this is resolved and will go in 2.8. See: https://github.com/outr/scribe/blob/master/core/shared/src/test/scala/specs/LoggingSpec.scala#L293

[2020-10-03 20:58] #127 closed

[2020-10-03 20:58] #124 closed

[2020-10-03 20:59] darkfrog26 opened #128 "Scala 3 Support"
This one is complicated as the macros all need to be completely re-written

[2020-10-04 12:22] markehammons commented on #127
I've tested this on my branch and it works very well. With the addition of a few more features on our side, I believe this will be an excellent replacement for logback/log4j2 for us.

[2020-10-04 16:39] darkfrog26 commented on #127
@markehammons glad to hear it. Please keep in touch and let me know if there's anything else that would make Scribe a more useful library for you.

[2020-10-04 16:39] darkfrog26 commented on #127
2.8 will be released today or tomorrow most likely.

[2020-10-04 18:44] darkfrog26 commented on #124
2.8.0 is now released

[2020-10-04 18:44] darkfrog26 commented on #118
2.8.0 is now released

[2020-10-05 12:09] markehammons commented on #127
@darkfrog26
did you build 2.8 with a jvm > 8? I cannot seem to use the binaries with a java 8 jdk

[2020-10-05 15:42] darkfrog26 commented on #127
That's not good. Let me check and I'll get back to you.

[2020-10-05 15:54] darkfrog26 commented on #127
Okay, I just pushed `2.8.1` with Oracle Java 8. Please let me know if you have any trouble with it.

[2020-10-05 16:08] markehammons commented on #127
I'll give it a shot tomorrow.

[2020-10-05 17:02] SethTisue commented on #127
What is the error message?

[2020-10-05 19:05] markehammons commented on #127
@SethTisue I don't have the exact error cause I'm working on a different branch at the moment, but it was something about the slf4j.impl classes' bytecode being a newer version than my jvm's. I usually get that error if I compile the binaries with jdk11 and try to run with jdk8

[2020-10-05 19:58] darkfrog26 commented on #127
Oops. I was mistaken. I forgot that the SLF4J integration uses a Java source file because of MDC's singleton reference.

Sorry @SethTisue, you called it.

@markehammons, well, this shouldn't be a problem in `2.8.1`

[2020-10-07 18:27] rtar opened #129 "`Logger.includes` broken in 2.8.x"
`Logger.includes` does not work properly in `2.8.x`. It used to work correctly in `2.7.13`.

I.e. the following expression will return `true` in `2.7.13` and will return `false` in `2.8.x`:
[code]

The reason for that is the following change. There used to be a check if the level is included in this `Logger` OR the parent of this `Logger`. The logic was (accidentially?) changed to AND, i.e it requ

[2020-10-08 04:55] darkfrog26 commented on #129
Good catch. This will be fixed in the next release.

[2020-10-08 05:10] darkfrog26 commented on #129
Take a look at this update to `includes` to simplify the functionality and let me know if you think that's a reasonable fix: https://github.com/outr/scribe/commit/1b4b1f907a2a2f2131284197c47cc48e4d8e60e0#diff-1457cb600ebaedcf2615c194e0435635R39

[2020-10-08 13:59] rtar commented on #129
Well, it works now, it seems. My original issue was that all slf4j code suddenly stopped working, because `ScribeLoggerAdapter` implements `isInfoEnabled` as `includes(Level.Info)`, and it always returned `false`. I did not have the time to check if slf4j works with new version properly, but I assume it should because `includes` now works properly, it seems.

As for the implementation, I would add

[2020-10-08 15:37] darkfrog26 commented on #129
I actually wrote a test like that last night, but it was passing with the existing code.

[2020-10-08 15:43] darkfrog26 commented on #129
Okay, I fixed the `getName` issue. As for the `asInstanceOf`, I don't love it either, but it's a short-term solution until I make some additional changes to the `LogModifier` typing.

Let me know if there are any other suggestions and I'll get a new release out today or tomorrow.

[2020-10-08 15:59] rtar commented on #129
Sounds perfect to me, no suggestions.

[2020-10-08 16:24] darkfrog26 commented on #129
Resolved with 2.8.2 release

[2020-10-08 16:24] #129 closed

[2020-10-12 20:27] darkfrog26 opened #130 "scribe-migration module"
Add convenience support to make migration to Scribe much easier.

Support for existing logger configuration would be a big plus (ex. `log4j.properties`)

[2020-10-13 05:08] andreak opened #131 "Deadlocks"
Hi, we're experiencing lots of deadlocks using Scribe (version 2.7.12, using Scala-2.12.12).
examples:
[code]
[code]

I have full stack-traces but would rather not share them in public....

Any hints on what may cause this?

[2020-10-13 20:31] darkfrog26 commented on #131
Please check this in `2.8.3` and see if it is resolved.

[2020-10-14 07:29] andreak commented on #131
No deadlocks so far, and they used to come "by now". Closing issue for now.

[2020-10-14 07:29] #131 closed

[2020-10-14 15:27] darkfrog26 commented on #131
@andreak awesome! Good to hear. Please let me know if you have any other issues.

[2020-10-21 17:23] darkfrog26 commented on #97
Upon further consideration, LogStage is actually less capable than Scribe because of the way it extracts data. In Scribe we support logging of objects, so we can support structured logging without the complexity of interpolation and extraction.

[2020-11-03 20:26] #128 closed

[2020-11-04 07:15] andreak opened #132 "Deadlock in ConsoleWriter.scala:14"
We're now getting deadlocks when logging ERROR, which goes to console as well as to file.

[code]

[2020-11-04 16:29] darkfrog26 commented on #132
This should be fixed with `3.0.1`. Please let me know if it still happens.

[2020-11-04 17:32] #132 closed

[2020-11-04 17:38] darkfrog26 opened #133 "Better ScalaDocs"

[2020-11-04 18:15] darkfrog26 opened #134 "Support easier elapsed functionality"

[2020-11-04 18:16] #134 closed

[2020-11-04 19:21] darkfrog26 opened #135 "Create a Features Document on the Wiki"

[2020-11-05 21:09] darkfrog26 opened #136 "HTML Logging Support"
Supporting writing lines of HTML to better render logs in the browser

[2020-11-05 21:10] darkfrog26 opened #137 "JSON Logging Support"
The ability to log to JSON records would provide substantial benefit to anyone that wants to parse the logs later

[2020-11-05 21:11] #135 closed

[2020-11-06 20:46] darkfrog26 commented on #55
See: https://izumi.7mind.io/logstage/index.html and https://github.com/7mind/izumi/blob/develop/logstage/logstage-core/src/main/scala/izumi/logstage/macros/ArgumentNameExtractionMacro.scala

We could automatically extract variables defined in interpolation and place them in a `args: Map[String, Any]` within the `LogRecord` so any `LogWriter` could utilize them and optionally `MDC` could be configu

[2020-11-23 21:04] darkfrog26 commented on #97
Add updated support to pass in `data` to `Logger` that then gets applied to `LogRecord` allowing an asynchronous reference.

[2020-11-23 21:05] #97 closed

[2020-11-23 21:29] darkfrog26 opened #139 "Fix Inconsistent ANSI coloring"
Sometimes ANSI codes aren't properly being reverted after invocation.

[2020-11-23 21:29] #139 closed

[2020-11-23 21:30] darkfrog26 commented on #76
This should be addressed after the new release of ScalaNative

[2020-11-23 21:32] darkfrog26 opened #140 "Support OutputFormat for greater output flexibility"
Right now we have ASCII and ANSI support very explicitly defined. However, it would be useful to break apart `Writer` from the output format so that the same `Writer` can be used for writing HTML, JSON, XML, ASCII, ANSI, etc.

[2020-11-23 23:02] #140 closed

[2020-11-23 23:03] darkfrog26 opened #141 "XML Logging Support"
Simple XML writer output

[2020-11-24 16:30] #136 closed

[2020-11-27 10:20] ckipp01 opened #142 "Default output doesn't show in dark terminal."
Using a very basic project, if you are using a dark terminal background, the out output is also in a very dark color making it impossible or very difficult to see. I'll paste three examples below with three different themes. They are all just including `3.1.2` of scribe and doing a simple `scribe.info`.

<img width="1226" alt="Screenshot 2020-11-27 at 11 18 35" src="https://user-images.githubuserc

[2020-11-27 16:36] darkfrog26 commented on #142
I've seen this when running in certain dark modes in terminals. I'll see what I can do about changing the default before the next release. However, in the short-term you can copy-and-paste the existing `Formatter` and change the colors for your specific needs if desired.

[2020-11-27 17:35] #142 closed

[2020-12-09 13:22] jvican opened #143 "Add way to bring own scribe mdc implementation"
Hi 👋 I've currently inlined some of the sources to integrate with slf4j because I need to create my own implementation of `ScribeMDCAdapter` to use another mechanism than thread locals to propagate values across the log call sites (more concretely, a version that supports Monix locals).

Would it be possible to make the mdc adapter configurable, maybe via a service loader? It would help me remove

[2020-12-09 13:32] jvican commented on #143
@darkfrog26 Another ask: would it be possible to remove the inlined use of the global scheduler pool in https://github.com/outr/scribe/blob/master/core/jvm/src/main/scala/scribe/Platform.scala#L17? Seems a bit overkill for the purpose. I think something like that could be achieved with service loaders in a more robust way and without initializing the global scala thread pool, which might not be us

[2020-12-09 16:44] darkfrog26 commented on #143
@jvican I don't see any problem with either of those, but would you be interested in putting together a couple of PRs to introduce the changes?

[2020-12-09 22:07] jvican commented on #143
I might, but over the next months as I don't have a lot of free time now. It's not urgent. In the meanwhile I'll continue using the old version I'm using.

[2020-12-09 22:21] darkfrog26 commented on #143
If I find the time to tackle this before you do I'll reply to this ticket and let you know.

[2020-12-15 17:41] rmgk opened #144 "Color reset output when terminal does not support color"
Starting with version 3.1.0 scribe outputs color reset codes (i.e., `[0`) at the beginning of each line, even when the output does not support them. I assume this to be because of this line which does not check the output type:

https://github.com/outr/scribe/blob/a0cd61593e3c7e9dacbb0fb8351018c0bd8c6bce/core/shared/src/main/scala/scribe/writer/ANSIConsoleWriter.scala#L34

[2020-12-15 20:54] darkfrog26 commented on #144
@rmgk can you clarify what you mean? If you're using the `ANSIConsoleWriter`, it assumes that ANSI codes are supported.

[2020-12-15 20:55] darkfrog26 commented on #144
FYI, I removed auto-detection of support because it was causing difficulties on certain environments.

[2020-12-16 12:30] rmgk commented on #144
Sorry, I linked to and talked about different versions.
In Scribe 3.1.7, if I understand correctly, there is only a FileWriter and a ConsoleWriter, and to set the output format to no colors I would instead set the ASCIIOutputFormat as such:

[code]

However, in the line below (same as I linked before, but now in a different place) the color reset code is appended independently from the output form

[2020-12-17 00:48] darkfrog26 commented on #144
Oops, yeah, *slaps forehead*, that was a bonehead mistake on my part. I'll get it updated and a new release out ASAP.

Good catch!

[2020-12-17 01:15] #144 closed

[2020-12-17 01:47] darkfrog26 commented on #144
Released `3.1.8` with this fix

[2020-12-20 16:07] therockstorm commented on #137
It seems the [`scala-logging`](https://github.com/lightbend/scala-logging) repo is no longer maintained so we're looking to move to one that supports Scala 3 macros. We log to JSON to make ingestion into DataDog simpler. This library looks great, but we'd need this.

[2020-12-20 19:11] darkfrog26 commented on #137
This is on the agenda to add in the near future, but Circe support for Dotty is not really there, so I've been holding off.  If you don't need Dotty support you could take a look at what `scribe-logstash` does and replicate that?

[2020-12-26 07:09] ngbinh opened #145 "scribe hangs indefinitely on single threaded JVM"
https://github.com/outr/scribe/blob/cc4d70161ba3588ba45149bd989393a779c3cac4/core/jvm/src/main/scala/scribe/Platform.scala#L17 means it would hang indefinitely on single threaded JVM. I see the issue when running on CI where I set `parallelExecution := false`.

[2020-12-26 16:04] darkfrog26 commented on #145
Hmm, I hadn't considered that scenario. Do you have any thoughts on addressing it? I'm not a fan of `Await`, but this is necessary to make sure that any modules necessary for Scribe have properly loaded before continuing. I would usually just do it all asynchronously, but logging defaults to synchronous.

[2020-12-27 03:04] ngbinh commented on #145
I haven't been able to dig deeper on why that `Await` hangs definitely. Is there a way to make sure it will not hang even on single theaded? Otherwise, it is too dangerous

[2020-12-27 03:16] darkfrog26 commented on #145
Honestly, I have very little experience with single-threaded runtimes. I'll have to look into this further.

[2020-12-27 03:24] ngbinh commented on #145
I am seeing this problem on all of our integ test on CI with scribe newer than `3.1.0`. Will try to see if I can reproduce it

[2020-12-27 16:07] darkfrog26 commented on #145
The integration with `Moduload` was added around that time.

[2020-12-27 17:18] darkfrog26 commented on #145
I'm changing how `Moduload` works so that it is no longer asynchronous and I'll get a new release of Scribe out with it.

[2020-12-27 23:44] ngbinh commented on #145
Great, thanks and happy holiday!

[2020-12-28 00:02] darkfrog26 commented on #145
@ngbinh I've made the change to `Moduload`, but I'm hung up on a dependency I need to fix before I can get another release out. I'll update this ticket when it's finished.

[2021-01-04 21:51] darkfrog26 opened #146 "Overhaul of FileWriter Functionality"
The file writing functionality is brittle and short-sighted and needs to be re-evaluated.

[2021-01-04 22:37] darkfrog26 opened #147 "Better Shortened Position"
Position abbreviation should always include full class name but sometimes only includes method: `a.b.c.D.method`

[2021-01-06 03:15] ngbinh commented on #145
@darkfrog26 Do you know of any work around for this issue on `3.1.8`?

[2021-01-06 16:54] darkfrog26 commented on #145
Sorry it is taking so long to get a new release. Scribe is waiting on Profig is waiting on uPickle is waiting on Geny is waiting on uTest (https://github.com/lihaoyi/utest/issues/226). As soon as that issue is resolved I should be able to get a new release out quickly.

As far as a workaround, you may be able to do something like:
[code]
Before you make any call to Scribe. This should allow the fu

[2021-01-07 03:33] ngbinh commented on #145
@darkfrog26 thanks for the update and the tip. Will try it

[2021-01-07 04:13] darkfrog26 commented on #145
Let me know if it works and I'll update this ticket as soon as I'm able to get a new release out.

[2021-01-09 18:22] darkfrog26 commented on #145
@ngbinh sorry for the delays. I was intending to roll this out with 3.2, but it got a bit out of control as I'm completely re-writing file logging support. However, I just did a new release (`3.1.9`) that gives you the ability to call `scribe.Platform.initModuload = false` before you do anything and it should skip the `Await` entirely. In `3.2` this issue is completely removed, but it might be a w

[2021-01-09 18:22] #145 closed

[2021-01-10 00:03] ngbinh commented on #145
@darkfrog26 thanks, will try it out

[2021-01-11 18:06] tanzoniteblack opened #148 "Async tracing wiki out of date"
Release [3.0.0](https://github.com/outr/scribe/releases/tag/3.0.0) states that the async/future code was removed, but the [wiki](https://github.com/outr/scribe/wiki/asynchronous-tracing) & readme still contains documentation around it.

[2021-01-11 18:56] darkfrog26 commented on #148
Good catch. Adding this to 3.2 to make sure it gets done as other docs need to be revised for that release.

[2021-01-11 22:19] #146 closed

[2021-01-11 23:57] #147 closed

[2021-01-12 06:58] sergeda opened #149 "Add description how to change log level on the fly to Wiki"
There is a feature "Hot-change capabilities to modify how logging works in real-time" in the feature's list. But I was not able to find details how to use that feature in the docs. Please, add it.

[2021-01-12 11:45] ngbinh commented on #145
Confirm that it works if I have `scribe.Platform.initModuload = false` before. Thanks

[2021-01-12 16:14] darkfrog26 commented on #145
@ngbinh awesome...as soon as 3.2 is released that will be unnecessary.

[2021-01-12 16:19] darkfrog26 commented on #149
I'll be updating the wiki quite a bit before the release of 3.2, so I'll add this to the agenda.

If you want to tell me how you have logging configured currently, I can quickly explain how to change it live.

[2021-01-12 19:34] darkfrog26 commented on #137
Preliminary support has been added and will go out in version `3.2`. If you want anything more advanced, please create another ticket to outline your needs.

[2021-01-12 19:34] #137 closed

[2021-01-12 19:35] darkfrog26 commented on #141
Nobody seems to be asking for this, so I'm pushing it out to the next milestone.

[2021-01-12 20:37] #148 closed

[2021-01-12 20:38] darkfrog26 commented on #149
Updated the features list to offer a very simple example (https://github.com/outr/scribe/wiki/Features)

I'll try to update the getting started tutorial in the near future to break out feature-by-feature functionality.

[2021-01-12 20:38] #149 closed

[2021-01-13 15:32] Miuler commented on #128
what happened whith support for scala 3?

[2021-01-13 15:45] darkfrog26 commented on #128
@Miuler we have Scala 3 support (at least 0.27.0-RC1) and as soon as utest gets their build fixed for 3.0.0-M1 (hopefully this week), then it will allow me to release Scribe 3.2 with 3.0.0-M1 support. The dependency chain is: utest -> geny -> upickle -> profig -> scribe.

[2021-01-14 20:28] darkfrog26 opened #150 "Support environment variables to change default logging levels"

[2021-01-14 20:43] #150 closed

[2021-01-14 22:22] darkfrog26 commented on #145
Scribe 3.2.0 is now available which should make this a non-issue.

[2021-01-15 03:23] ngbinh commented on #145
awesome! Will update

[2021-01-16 21:16] qerat97 commented on #74
Is this issue resolved ? if not how can i start contributing to this Issue.

[2021-01-16 23:01] darkfrog26 commented on #74
This is not resolved. You can see the current code coverage with:
[code]
You can help to increase the coverage by making sure the unit tests validate more of the logic in Scribe. Please let me know if you need any assistance. This would be a great help. :)

[2021-01-25 02:24] qerat97 commented on #74
First of all sorry for the late reply. I have been a little last week. Will try to as much as possible this week.

Thanks for the command. I ran the command and ran into error shown in the screenshot. Can please let me know if I am missing any package installation.

![error1](https://user-images.githubusercontent.com/65608078/105653692-b8aadc80-5ebc-11eb-87f8-b51c68e434bf.png)

[2021-01-25 15:49] darkfrog26 commented on #74
try this instead:

`sbt coverage coreJVM/test coreJVM/coverageReport`

scoverage changed the way the plugin works. That will give you the report for the core project.

[2021-01-25 16:11] qerat97 commented on #74
Was able to generate the coverage report with this command. Thanks :+1:

[2021-01-28 16:55] #143 closed

[2021-01-28 16:55] darkfrog26 commented on #143
This will be released with 3.3.0

[2021-01-28 16:56] #76 closed

[2021-02-22 18:55] darkfrog26 opened #169 "Virtualized Files"
Right now, listing files in scribe-file hits the file-system with each check, but since the logging library should only care about files it creates, it should lazily load the paths at startup and then add to a virtualized path representation in-memory to improve performance and reduce the open-file counts.

[2021-03-12 17:57] david-bouyssie opened #171 "Weird characters on windows"
Hi.

Im' using scribe 3.3.3 in Scala JVM program.
In the console, logged lines contain weird characters.
It looks like that:

```←[0m2021.03.12 18:50:51:102 [main      ] [←[34mINFO ←[0m] ←[32m<empty>.MyClass.mymethod:xxx```

While on Linux I have the right thing:
```2021.03.12 18:55:40:252 [main      ] [INFO ] <empty>.MyClass.mymethod:xxx```

[2021-03-12 18:07] darkfrog26 commented on #171
This is because your console apparently doesn't support ANSI characters. There are a few ways you can solve this:
1.) Set the environment variable `"SCRIBE_OUTPUT_FORMAT"` to `"ASCII"`
2.) Configure your ConsoleWriter to log ASCII: `Logger.root.clearHandlers().withHandler(outputFormat = ASCIIOutputFormat).replace()`
3.) Use a console that supports ANSI like PowerShell
4.) Use a logging format that

[2021-03-13 22:10] darkfrog26 commented on #171
@david-bouyssie can you confirm that this resolved your issue?

[2021-03-14 15:13] david-bouyssie commented on #171
Actually I was already calling ```clearHandlers()``` to define the Handler ```minimumLevel```.
This may explain why my logger was not using ASCII, but maybe weird if the default is not always the same?

So in my case I fixed it thanks to your second suggestion.
Thanks a lot!

[2021-03-14 15:17] darkfrog26 commented on #171
@david-bouyssie glad it's resolved. :)

[2021-04-26 20:55] andreak opened #184 "Rolling doesn't always work"
Steps to reproduce:
[code]
This results in 2 days old files:
[code]
The following config:
[code]
Then running `ScribeRolling`:
[code]
Results in debug.log not being rolled:
[code]
only `other.log` has being rolled:
[code]

If the `scribe.Logger("other")`-block is commented out in `LoggerInit` then debug.log is rolled.

[2021-04-26 21:21] andreak commented on #184
Forgot to mention, using version 3.5.3

[2021-04-28 17:42] darkfrog26 commented on #184
Can you take a look at this unit test and see if you can reproduce your problem? https://github.com/outr/scribe/blob/master/fileModule/shared/src/test/scala/spec/FileLoggingSpec.scala#L167

I'm unable to reproduce in a simple unit test.

[2021-04-28 18:15] andreak commented on #184
Are you able to reproduce "manually" by following the steps in my description?

[2021-04-28 20:36] darkfrog26 commented on #184
This works:

[code]

[2021-04-28 20:37] darkfrog26 commented on #184
The problem is that you were sharing a `Rolling` instance between two `LogWriter`s.

[2021-04-28 20:43] darkfrog26 commented on #184
Okay, just made an update that should resolve this from happening any more.

[2021-04-28 20:43] #184 closed

[2021-04-28 20:52] andreak commented on #184
That means turning `val dailyRolling` into a `def` should work around the problem no?
I'm sure I tried that and it didn't work, strange...

[2021-04-28 21:54] darkfrog26 commented on #184
It may have also been related to `flushAsync` being set. I changed in my local example to `flushAlways` if you're looking for immediate results like in testing.

[2021-04-29 13:11] andreak commented on #184
Hm, I tested now and turning
[code]
[code]

Actually fixes the problem. I don't know why or how I missed that when saying that I've tried that before..

I'm now using `def dailyRolling` as a work-around until a new release is made.
Thanks for looking into this.

[2021-06-28 16:10] Eli-Golin opened #202 "Support for execution inside spark/flink"
Are there any plans to release a spark or flink supporting version (mainly serialization issues)?

[2021-06-30 19:50] darkfrog26 commented on #202
Scribe actually works great with Spark if you set it up properly. If you have specific issues please let me know and I'll try to address them, but you just have to make sure your initialization of Scribe configuration occurs within the scope of the Spark jobs and everything just works. I know that Scribe is being heavily used at eBay within Spark jobs with no issues.

[2021-07-01 13:47] Eli-Golin commented on #202
Tnx.. I believe it was my mistake.
Great library , great work!!

[2021-07-01 13:47] #202 closed

[2021-07-01 14:28] darkfrog26 commented on #202
Thanks. Reach out here or on Gitter if you run into any other issues.

[2021-09-30 12:34] david-bouyssie commented on #171
I'm testing scribe on Scala Native on Windows. I now it is still very experimental...
I can tell you that Scribe is working well for me, except for this ANSI vs ASCII formatting.

It looks my configuration is ignored, while on the JVM on Windows it works fine.
Here is what I was doing so far according to your suggestion number 2:
https://github.com/mzdb/mzdb4s/blob/11fa783e7a03eef1682339374930b70f

[2021-10-01 16:45] darkfrog26 commented on #171
you're saying it appears as though `outputFormat = ASCIIOutputFormat` is being ignored?

[2021-10-01 16:57] david-bouyssie commented on #171
I may have found the reason, it seems I have duplicated definitions of my class configuring the logger. I can't check now but I'll tell you ASAP.
Thanks.

[2021-10-03 22:05] darkfrog26 commented on #171
Any update on this?

[2021-10-04 10:52] david-bouyssie commented on #171
Not yet. I still have to clean my project a bit and check.

[2021-10-04 11:10] david-bouyssie opened #220 "Scala Native performance issue (silent logs)"
I'm testing Scribe using the latest version of Scala Native (current master), but I think the problem is the same with the latest release.

The issue I observed is a whole program slowdown when using `logger.trace`  and with a `minimumLevel` that is higher than trace, meaning that trace messages should be ignored.

To reproduce I think just a simple while loop (with 10M iterations) is enough:
[cod

[2021-10-04 16:34] darkfrog26 commented on #220
What about if you replace `isTraceEnabled` with `logger.includes(Level.Trace)`?

[2021-10-05 07:37] david-bouyssie commented on #220
`logger.includes(Level.Trace)` behaves the same as the first example

However adding `if (logger.includes(Level.Trace)) System.exit(1)` exits the program, which means that it returns true.

[2021-10-05 14:11] darkfrog26 commented on #220
If you're willing, could you check out `3.6` branch and `publishLocal` to see if that solves your problems? Still a work-in-progress, but it makes some sweeping changes and bug fixes related to this.

[2021-10-08 16:33] darkfrog26 commented on #220
With the following code, I was able to reproduce a major performance hit on ScalaNative:
[code]

On my laptop, JVM takes 2 seconds to complete and on Native, it takes 20 seconds.

[2021-10-22 08:01] david-bouyssie opened #230 "Release scribe for Scala Native v0.4.1"
This is brand-new:
https://search.maven.org/artifact/org.scala-native/scalalib_native0.4_2.13/0.4.1/jar

This means that SN libraries can now land on Windows natively :)

[2021-10-22 08:18] #230 closed, assigned to nobody

[2021-12-16 17:04] sarahjryan opened #243 "sl4j support doesn't work with Java 11"
SLF4J: Class path contains SLF4J bindings targeting slf4j-api versions prior to 1.8.
SLF4J: Ignoring binding found at [jar:file:/.../AppData/Local/Coursier/cache/v1/https/.../artifactory/maven2-repo/com/outr/scribe-slf4j_2.13/3.6.3/scribe-slf4j_2.13-3.6.3.jar!/org/slf4j/impl/StaticLoggerBinder.class]

http://www.slf4j.org/codes.html#ignoredBindings

Any chance of an update to 1.8?

[2021-12-17 14:41] darkfrog26 commented on #243
Absolutely. I'll take a look at this today.

[2021-12-17 14:53] darkfrog26 commented on #243
@sarahjryan, to be clear, you want me to update to `1.8.0-beta4`?

[2021-12-17 15:21] #220 closed

[2021-12-17 15:27] darkfrog26 commented on #243
Have you considered just switching to `scribe-slf4j2` that uses the 2.0 alpha?

[2021-12-17 15:28] darkfrog26 commented on #243
version `1.7.32` appears to be the latest release version.

[2021-12-17 16:26] darkfrog26 commented on #243
New release `3.6.4` is out now and you can use `scribe-slf4j2` that relies on slf4j `2.0.0-alpha5`. That should solve your problems. After doing more research, I don't want to switch to the 1.8 beta because it doesn't seem to be maintained and 2.0 appears to be the eventual goal.

[2021-12-29 20:13] darkfrog26 opened #248 "LogRecord Support for multiple Loggables"
Right now we support a `message` and a `throwable`. What if we had `LogRecord` contain a `List[Loggable[M]]` and `List[Message[M]]` and just support implicits for `String` and `Throwable` to convert. This would allow much greater flexibility in output and information.

[2022-01-20 18:36] #243 closed

[2022-01-20 19:14] darkfrog26 commented on #105
FYI, because Scribe now uses Sourcecode, this should be completely manageable without any changes to Scribe.

[2022-02-06 15:29] darkfrog26 commented on #248
Finished and will come with Scribe 3.7

[2022-02-06 15:29] #248 closed

[2022-02-06 15:29] darkfrog26 commented on #105
This is now fully integrated and will be released with Scala 3.7

[2022-02-06 15:29] #105 closed

[2022-02-06 15:30] darkfrog26 commented on #95
This is now fully integrated and will be released with Scribe 3.7

[2022-02-06 15:30] #95 closed

[2022-02-15 10:47] kpodsiad opened #270 "`message` `FormatBlock` is exported twice"
Starting from 3.7.0 `message` can be imported both via `import scribe._` or `import scribe.format._`. Both imports are very useful and often used together which causes compilation error now.

Reproductuon with [scala-cli](https://scala-cli.virtuslab.org/)
[code]

yields
`reference to message is ambiguous;
it is imported twice in the same scope by
import scribe.format._
and import scribe._bloop`

I

[2022-02-15 13:34] darkfrog26 commented on #270
For the code you mention above, I don't think you need anything from the `scribe` package anyway.

[2022-02-15 13:42] kpodsiad commented on #270
Yeah I know, it was just a reproduction ;)

I'm not a fan of wildcard imports and I always end with explicit ones, but sometimes they are convenient, especially when prototyping. I just wanted to let you know about this, let's call it, "regression".

[2022-02-15 15:17] #270 closed

[2022-02-15 15:18] darkfrog26 commented on #270
This is resolved and will go out in the next release (3.8.0). Note, the fix changes `format.message` to `format.messages` as it better reflects what that format block does now.

[2022-02-19 23:11] eikek opened #272 "SystemOutputLogger: option to always log to one stream"
Hi,

Thank you for sharing scribe!

I was wondering what you think about providing an option for `SystemOutputLogger` to always log to either stdout or stderr, not looking at the log level? For my application I would prefer to always use stdout. Currently I need to copy the code into my codebase, not a big deal, but would be more convenient if there was a setting or some other means to reuse the "

[2022-02-20 02:59] darkfrog26 commented on #272
I wouldn't mind extracting the functionality to a more general-purpose method. Can you shed some light on your use-case to make sure it fits your needs?  Why not just call `SystemOutputLogger.write(...)` from your code?

[2022-02-20 09:07] eikek commented on #272
Calling `SystemOutputLogger.write(…)` would be just fine! Not sure if I missed something. I think it currently chooses either stderr or stdout based on the log level.
[code]
I would like to always log to stdout (or stderr), including levels higher than Info. i don't know how to control this from outside.

[2022-02-20 20:15] darkfrog26 commented on #272
@eikek, can you take a look at the commit I just pushed and verify that solves your problem appropriately?

[2022-02-20 21:08] eikek commented on #272
Hi @darkfrog26 oh thank you very much! This works very nicely. I can then just say `logger.withHandler(writer = SystemOutWriter)` in my config. 👍🏼

[2022-02-21 01:58] darkfrog26 commented on #272
Good deal. I'll try to get a new release out ASAP.

[2022-02-21 01:58] #272 closed

[2022-02-22 14:22] darkfrog26 commented on #272
@eikek, `3.8.0` is now released with these changes

[2022-02-22 16:56] eikek commented on #272
Thank you very much!

[2022-02-23 12:26] Fristi opened #273 "Add logical operators on `Filter`"
Do you think this makes sense?

[code]

[code]

[2022-02-23 13:36] #273 closed

[2022-02-23 13:37] darkfrog26 commented on #273
@Fristi, yes, that's a great idea. I went ahead and created a new commit to add this functionality. Take a look and let me know if there's anything I missed. Thanks for the great idea!

[2022-02-23 14:45] Fristi commented on #273
Great thanks! Maybe `||` as well ?

[2022-02-23 17:38] darkfrog26 commented on #273
You went and had to make it more complicated, didn't you? :)  I added `||` support. Let me know if you think of something else.

[2022-02-24 06:47] Fristi commented on #273
Looks great! Thanks for the quick add

Works superb with Slf4j and GraalVM

[2022-02-24 13:47] darkfrog26 commented on #273
@Fristi, great to hear! Please feel free to make any additional suggestions or offer feedback as you continue to use Scribe. I'm always happy to hear feedback that helps make it better.

[2022-03-07 00:05] darkfrog26 opened #277 "File Rolling Not Prefixing"
On HTML files it is supposed to inject HTML before it starts writing, but on roll it doesn't appear to be doing that.

[2022-03-08 14:23] darkfrog26 opened #278 "File Logging with Multiline Problems"
Sometimes the heading line gets left out when logging to files.

[2022-03-08 19:48] darkfrog26 commented on #277
File logging is getting too complicated. A virtual file representation would simplify this a lot.

[2022-03-08 20:23] #277 closed

[2022-04-29 14:07] ahuret opened #294 "conflict with profig"
Hello, thank you for this nice library ! :-)

We've been using profig and scribe for two years for configuration and logging management.
Since we've updated new versions of both, we found an unexpected issue, that's looks like a conflict between the libraries.
When I create a `scribe.Logger`, then load a yaml file using profig, there is a Runtime Exception:

`Caused by: java.lang.AbstractMethodErr

[2022-04-29 14:20] ahuret commented on #294
It appears that with json and xml config it works well, issue is only with yaml format

[2022-04-29 18:36] darkfrog26 commented on #294
It looks like a version difference. Are you sure you're using the latest version of Profig, Fabric, and Scribe?

[2022-05-01 10:12] eikek opened #295 "Inconsistent formatting when log records contain data"
Hi, I'm not sure if I misunderstood… in my log output all lines end with `()` which looked strange. I'm not aware that I customized this (using log format "enhanced") so i looked around and found this:

There is code building a map out of two and checking the result for being empty or not. After being checked for emptiness it is not used to evaluate, but only one of the maps:

https://github.com/o

[2022-05-01 12:50] darkfrog26 commented on #295
Can you show some code that reproduces the problem?

[2022-05-01 13:31] eikek commented on #295
Sure, sorry. I might very well have misconfigured something. I'll try to create a minimum example.

[2022-05-02 15:18] ahuret commented on #294
looks like issue is when profig-yaml is imported, here the versions:

"com.outr" %% "scribe" % "3.8.0"
"com.outr" %% "profig" % "3.2.9"
"com.outr" %% "profig-yaml" % "3.1.2"

by the way, looks like we can load yaml file without `profig-yaml` in build.sbt, so when use `profig-yaml` ?

[2022-05-02 17:51] darkfrog26 commented on #294
Ah, that's because `profig-yaml` is deprecated. It was replaced with `fabric-parse` when `profig` switched to using https://github.com/outr/fabric. It might just magically work if you remove the `profig-yaml` dependency.

[2022-05-03 13:47] ahuret commented on #294
Ok, thank you :+1: Closing it

[2022-05-03 13:47] #294 closed

[2022-05-20 01:13] hindog commented on #295
I just hit this issue while integration scribe into another framework (ZIO).  In my case, I adapt each ZIO log to a Scribe `LogRecord` and pass ZIO's fiber-local `LogContext` map as the `data` parameter, but the values aren't coming through.  Here's an example to demonstrate the issue:

[code]

I believe the fix is to change the code @eikek linked to something like this:
[code]

[2022-05-20 10:00] eikek commented on #295
Sorry I forgot to respond - thank you for the example @hindog 🙏🏼

[2022-05-20 12:48] darkfrog26 commented on #295
Thanks for the code example. I'll take a look at this and get back to you ASAP.

[2022-05-22 00:45] #295 closed

[2022-05-22 00:46] darkfrog26 commented on #295
Okay, this is fixed and I'm doing a release now for `3.8.3` that will include it.

[2022-05-22 08:13] eikek commented on #295
I can confirm it fixes my issue, thanks!

[2022-06-16 10:16] keirlawson opened #301 "Support outputting logstash formated logs to stdout"
We have a datadog setup that ingests logs that we produce to standard out, so it would be great to have a way to output logstash encoded logs there rather than forwarding them over the network directly as the current logstash module appears to work.

[2022-06-16 15:17] darkfrog26 commented on #301
@keirlawson I'd be happy to support that. Would you be interested in creating a PR to represent exactly what you need so you can verify it fits properly? If you're not up for it I can try to get to it in the next few days.

[2022-06-17 09:19] keirlawson commented on #301
I guess ideally just having a `Formatter` that produced the JSON output would do the trick, if it could be possible to get such a thing whilst avoiding the `youi-client` dependency that would be a bonus, but I appreciate that may not be the best way to structure the project.

[2022-06-17 13:15] darkfrog26 commented on #301
Why not use `scribe-json`?

[2022-06-17 13:18] keirlawson commented on #301
I hadn't actually spotted that module, will give it a go :)

[2022-06-17 14:49] keirlawson commented on #301
So far as I can see it is not possible to customise the outputted JSON fields with that module? I ask because per https://docs.datadoghq.com/logs/log_configuration/attributes_naming_convention/ DataDog seems to expect a `message` field, whereas the JSON module produces instead a `messages` array which I don't think will be picked up correctly by DD... maybe we could add a custom formatter specific

[2022-06-18 14:44] darkfrog26 commented on #301
@keirlawson I'm currently re-working `scribe-json` to default to a format that DataDog can handle and adding more flexibility to make customization easier, but for your needs, is this good:
[code]
Are there are any other changes that need to be made to properly support DD?

[2022-06-18 14:45] darkfrog26 commented on #301
The `message` field auto-flattens to the single value if there's only one message and expands to an array if there are multiple.

[2022-06-18 15:06] darkfrog26 commented on #301
I created a PR to represent these changes: https://github.com/outr/scribe/pull/302

[2022-06-24 13:54] keirlawson commented on #301
I've confirmed that the JSON module now works with Datadog out of the box

I did notice though that in swapping our logback for scribe various custom tags that we add via log4cats `addContext` are no longer present on the logs.  Should I open a separate bug for this?

[2022-06-24 14:07] kell18 commented on #63
Hi! Thanks for the lib! As far as I can see it still will suffer from context switches? I.e. when a function executing in the future is getting moved to another execution thread? The MDC context for the function will not be preserved, right?

[2022-06-24 20:04] darkfrog26 commented on #301
@keirlawson, yes, please do. If you can give any examples I can reproduce in test it will help me make sure I address the issue.

[2022-06-24 20:05] darkfrog26 commented on #301
closing this issue and it will go with the next release, but I'll hold off on releasing until we can address the `addContext` as well.

[2022-06-24 20:05] #301 closed

[2022-06-24 21:02] keirlawson opened #304 "scribe-json ignores slf4j MDC values when outputting"
In order to pass along metadata to the underlying logger, libraries such as log4cats use slf4j's MDC.  Unlike for example logback's logstash encoder scribe-json does not appear to output MDC values associated with loggers, per the example below:

[code]

Gives the following, with no mention of the key/value metadata

[code]

[2022-06-26 02:43] #304 closed

[2022-06-26 02:44] darkfrog26 commented on #304
@keirlawson thanks for the heads up on this. For some reason, I just completely forgot about MDC when implementing the output.  The fix should go with the next release.

[2022-06-26 02:47] darkfrog26 commented on #63
So, this was a bit of a half-measure. In order to share the context, you'd have to `MDC.contextualize(mdc) { ... }` in the block you want to utilize it. I'll give this some more thought on coming up with a better way to do it. If you have any thoughts, they would be welcome.

[2022-06-26 02:54] darkfrog26 commented on #63
What would you think about me adding:
[code]
to all logging calls and allow an implicit MDC to be able to be picked up?

[2022-06-26 16:22] kell18 commented on #63
Hmm, not many ideas from my side. But maybe it's not the task for the logging library if it was not initial design choice. I heard that it should be possible to do with custom ExecutionContexts but I never was able to make it working... https://blog.knoldus.com/how-to-use-mdc-logging-in-scala/

[2022-06-26 20:36] darkfrog26 commented on #63
I've added some new functionality to allow the use of implicits:
[code]
The above will output with "key" = "value" in the logs. Would you say this adequately solves the problem? Of course, if you're working across multiple methods you'd have to pass around the implicit MDC.

[2022-06-28 14:20] darkfrog26 commented on #63
@kell18 I'm planning to do a release this week, but I'd like confirmation that this update fulfills your needs?

[2022-06-30 02:34] darkfrog26 commented on #63
Got tired of waiting. Released with 3.10.0

[2022-06-30 02:34] #63 closed

[2022-07-29 20:13] darkfrog26 opened #317 "scribe-interface"
Create a new module that runs a web server to interact with logs in real-time allowing better filtering, searching, and insights.

[2022-08-03 16:51] darkfrog26 opened #319 "scribe-file support for Scala.js using Node.js fs"
Need to apply a fairly large refactoring to support file writing in Scala.js as it doesn't support the File classes from Java.

[2022-08-11 14:44] darkfrog26 opened #326 "Eval Feature"
It would be really useful to have an eval feature that could be used like:
[code]
and the log output would be something like:
[code]
It would offer a similar output the Scala Console provides, but perhaps with additional insights

[2022-08-18 15:18] Lasering opened #327 "Formatter colors are not correctly resetted"
Example: when using Formatter.enhanced on Scala JS the Chrome dev tools (in dark mode) shows:
![Screenshot_161330](https://user-images.githubusercontent.com/5956311/185431105-ba23b604-8447-4555-a1d4-c38587699932.png)

Notice the date and the thread name are correctly in white. However any text coming after any color change is set to black. Any color formatted text should have a reset ansi code at

[2022-08-19 14:53] darkfrog26 commented on #327
@Lasering good catch. Any chance you'd be up to submitting a PR for this? I'm currently traveling right now, so it might be a while before I can get to this. However, if you can submit a PR, I'll make sure to get a new release out. Thanks.

[2022-08-20 11:04] Lasering commented on #327
I can look into it.

[2022-08-20 13:46] Lasering commented on #327
It seems the error is coming from this reset function:
https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/output/format/ANSIOutputFormat.scala#L23-L31

The ANSI reset code is being sent but then any previous format is being reapplied which contradicts the reset. The fix would be to only send the reset code, but for this code to exist there must exist something I'm not gra

[2022-08-20 13:50] darkfrog26 commented on #327
Ah, I see what you're doing. You're using the ANSI directly instead of through the expected mechanism. How about trying something like this:
[code]

[2022-08-20 20:02] Lasering commented on #327
I'm using the predefined Formatter.enhanced. The example code I gave was just showing how to properly apply the reset.

To make things more explicit:
[code]
On Chrome dev tools in dark mode produces:
![Screenshot_205803](https://user-images.githubusercontent.com/5956311/185764115-3478d1d5-8601-4256-a893-5447a6705800.png)

Where as with the correct reset:
[code]
![Screenshot_205942](https://user-im

[2022-08-21 01:22] darkfrog26 commented on #327
Sorry about that. Thanks for the clarification. Looks like in the JavaScript console it's not representing the "default" foreground color properly.

[2022-08-21 12:24] Lasering commented on #327
From where comes the need of saving the previous format?

[2022-08-21 13:38] darkfrog26 commented on #327
That's a valid point. Previously, there was the risk of a race condition with certain terminals (like the one in IntelliJ) that could cause things to get confused, but I believe that was fixed. I might try just changing the reset to actually clear everything.

[2022-08-21 13:43] darkfrog26 commented on #327
Looking at the code, the setting of the values after a reset shouldn't be a problem unless something else is setting the foreground to black. The code should only set the foreground if there was a previous value, which shouldn't be the case here. I'll play around with this more and see if I can narrow down the problem.

[2022-08-21 14:03] darkfrog26 commented on #327
Ah, it's been so long since I wrote this section of code I forgot that it doesn't actually use ANSI at all. It uses `RichBrowserOutputFormat` instead which uses CSS properties as arguments to the console.

[2022-08-21 14:06] darkfrog26 commented on #327
For the moment, you can switch to ANSI in the browser by doing this:
[code]
I'll keep looking into the `RichBrowserOutputFormat` to see if I can figure out what's up there.

[2022-08-21 18:15] darkfrog26 commented on #327
<img width="1495" alt="Screen Shot 2022-08-21 at 2 13 55 PM" src="https://user-images.githubusercontent.com/877534/185805041-7c1d75da-cd43-43e8-bb58-ccf45f70eb5b.png">
Okay, I've successfully reproduced the example scenario. The first line is RichBrowserOutputFormat and the second is ANSI. The colors are a bit different, but otherwise, it's rendering consistently now.

I'm doing some additional te

[2022-08-21 18:16] #327 closed

[2022-08-21 18:27] darkfrog26 commented on #327
Just released `3.10.3` with this fix.

[2022-08-21 19:57] Lasering commented on #327
I don't know how I've missed the `RichBrowserOutputFormat`. Thanks for the very fast turnaround.

[2022-10-15 19:11] yuriy-yarosh opened #349 "scribe-cats scala-native artifacts"
So... cats/cats-effect/fs2 are available for scala-native 0.4.7, nowadays.
It would be great to publish the respective scribe artifacts for scala-native, as well.

[2022-10-16 02:05] #349 closed

[2022-10-16 02:06] darkfrog26 commented on #349
Thanks!

[2022-10-16 02:21] darkfrog26 opened #351 "Support Same-Line logging"
A progress indicator or some other mechanism to avoid multiple lines of logging would be extremely useful. Obviously, this would only apply to console logging.

[2022-11-17 11:31] s5bug opened #361 "Scribe chokes in both SBT and the IntelliJ console due to believing there's not enough columns"
With default settings, <https://github.com/outr/scribe/blob/3.10.4/core/shared/src/main/scala/scribe/format/FormatBlock.scala#L306> reports `pre` as being `"    "` (length 4, I have used Non-breaking Spaces to prevent GitHub from flattening the whitespace but in reality these are normal U+0020 spaces), and `max` as being `-3`, causing a `StringIndexOutOfBoundsException` on L313.

By debugger, <htt

[2022-11-17 11:56] s5bug commented on #361
The issue also occurs any time the application is being run from SBT, whether it's from IntelliJ or externally. Before the stack trace is printed, a few warnings are given:
[code]
<details>
<summary>Full stack trace</summary>

[code]

</details>

[2022-11-17 15:47] darkfrog26 commented on #361
Also, would you rather, when not able to be detected, I set a default like 120 characters or do I think I just just disable alignment?

[2022-11-17 15:50] darkfrog26 commented on #361
Here's what I'm thinking:
- Detect rows (currently adding this for some new features) and columns
- If columns is less than `minimumColumns` (defaults to 10), the column count will be set to `maximumColumns` (defaults to 5000 to essentially disable breaking)
Any thoughts?

[2022-11-17 15:57] darkfrog26 commented on #361
See: https://github.com/outr/scribe/blob/master/core/jvm/src/main/scala/scribe/Platform.scala#L13-L17

[2022-11-18 01:39] s5bug commented on #361
I am in favor of your proposed behavior! I don't know why tput is reporting 1...

[2022-11-18 01:41] s5bug commented on #361
I _would_ prefer Scribe not pollute my home directory, instead opting for a cache directory:  <https://github.com/outr/scribe/blob/master/core/jvm/src/main/scala/scribe/Platform.scala#L90>. `XDG_CACHE_HOME` on systems that support it, `%LocalAppData%/scribe` on Windows, etc. Especially since it can recreate the file.

[2022-11-18 17:00] darkfrog26 commented on #361
New release with these changes: https://github.com/outr/scribe/releases/tag/3.10.5

[2022-11-18 21:46] s5bug commented on #361
It does work!

[2022-11-18 21:46] #361 closed

[2022-11-18 21:54] s5bug commented on #361
As for caches, perhaps it's worth making something that looks for `{XDG_CACHE_HOME}/scribe` on Linux, `{CSIDL_LOCAL_APPDATA}/scribe` on Windows. Mac seems to not have an environment variable and `{user.home}/Library/Caches/com.outr.scribe` is fine.

A good fallback for `{XDG_CACHE_HOME}` is `{user.home}`. Getting `{CSIDL_LOCAL_APPDATA}` should _always_ succeed, but I think a bit native code might

[2022-11-19 00:08] darkfrog26 commented on #361
If you'd be interested in testing this out I'd welcome a PR for the functionality. :)